.app-container.home-page .addscheduleGames-page {
  overflow: hidden;
  position: absolute;
  color: #0b0f14;
  .content {
    .game-name {
      width: 50%;
      .game-name-box {
        background: $backgroundContent;
      }
    }

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    padding: 30px;
    align-items: center;
    grid-column-gap: 88px;
    grid-row-gap: 20px;
    position: relative;
    h1 {
      grid-column: span 2;
      font-size: 2rem;
      margin: 1rem 0;
    }
    label {
      color: #fff;
    }
    .date-time {
      display: grid;
      align-items: baseline;
      font-size: 11px;
      .date-time-label {
        grid-column: span 3;
      }
      .start-date-box,
      .end-date-box {
        width: 88%;
        cursor: pointer;
        background: $backgroundContent;
        font-size: 14px;
        line-height: 32px;
        color: #808080;
      }
    }
    .region,
    .experience,
    .platform,
    .expiry,
    .visibility,
    .limit,
    .clash_royale_trophy,
    .dota2_medal_ranks,
    .dota2_server_regions,
    .dota2_roles {
      cursor: pointer;
      padding-top: 8px;
      width: 48%;
    }
    .clash_royale_trophy_header,
    .dota2_medal_ranks_header,
    .dota2_server_regions_header,
    .dota2_roles_header {
      display: flex;
      align-items: center;
      label {
        align-items: center;
        padding-top: 18px;
        padding-left: 4px;
      }
    }

    .css-10nd86i {
      padding-left: 20px;
      font-size: 12px;
      width: 120%;
    }

    .description {
      width: 48%;
      padding-top: 8px;
      .description-box {
        background: $backgroundContent;
        margin-left: 20px;
        height: 60px;
        font-size: 12px;
        width: 90%;
      }
    }

    .other {
      padding-top: 8px;
      .other-box {
        background: $backgroundContent;
        margin-left: 20px;
        height: 60px;
        font-size: 12px;
        width: 90%;
      }
    }
    .accept-msg {
      padding-top: 8px;
      width: 100%;
      .txtarea-accept {
        background: white;
        border-radius: 8px;
        margin-left: 20px;
        font-size: 14px;
        color: #808080;
      }
    }
    .buttons {
      display: flex;
      font-size: 4rem;
      font-weight: 100;
      margin-left: 20px;
      margin-top: 16px;
      .save {
        padding: 18px;
        background: $primarybuttonBG;
        border-radius: 4px;
        border: none;
        color: #fff;
        cursor: pointer;
      }
      .save-create {
        background: $primarybuttonBG;
        border-radius: 4px;
        border: none;
        color: #fff;
        margin-left: 10px;
        padding: 16px;
        cursor: pointer;
      }
    }
  } //content
} //.app-container
