#messenger {
  #chat-component-base {
    pointer-events: auto;
    background-color: #171a1c;
    display: flex;
    flex-direction: column;
    margin: 0 4px;
    height: 240px;
    width: 25%;
    font-family: 'Montserrat Alternates', sans-serif;

    .chat-component-header {
      display: flex;
      background-color: #1d2326;
      padding: 12px;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
    }

    .chat-component-header-self-destruct {
      background-color: #502326 !important;
    }

    .chat-component-header-icon {
      background-color: #2d363a;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 20px;
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }

    .chat-component-header-status-indicator {
      position: absolute;
      margin-top: 25px;
      border-radius: 6px;
      width: 12px;
      height: 12px;
    }

    .chat-component-header-status-indicator-static {
      margin-top: 25px;
      border-radius: 6px;
      width: 12px;
      height: 12px;
    }

    .chat-component-header-status-indicator-online {
      background-color: #68bd45;
    }

    .chat-component-header-status-indicator-playing {
      background-color: #fd323c;
    }

    .chat-component-header-status-indicator-afk {
      background-color: #d8bd43;
    }

    .chat-component-header-status-indicator-offline {
      background-color: #08507d;
    }

    .chat-component-header-options {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .chat-component-header-top-buttons {
      display: flex;
    }

    .chat-component-header-settings {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      margin-top: 4px;
    }

    .chat-component-header-info {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
    }

    .chat-component-header-title {
      font-size: 16px;
      font-weight: 600;
      color: #ffffff;
    }

    .chat-component-header-subtitle {
      font-size: 12px;
      color: #a0a0a0;
    }

    .chat-component-header-button {
      width: 12px;
      height: 12px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      cursor: pointer;
    }

    .chat-component-muted-banner {
      display: flex;
      flex-direction: row;
      background-color: #e7bb30;
      color: #253338;
      align-items: center;
      font-size: 12px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      justify-content: space-around;
      padding: 2px;
    }

    .chat-component-muted-button {
      background-color: #253338;
      color: #fafafa;
      padding: 6px;
      font-size: 10px;
      border-radius: 4px;
      margin: 4px;
    }

    .chat-component-body {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: #171a1c;
      overflow-y: scroll;
      padding: 12px;
    }

    .chat-component-loading-indicator {
      background-color: #2d363a;
      color: #707070;
      text-align: center;
      font-size: 12px;
      width: 108%;
      padding: 4px;
      margin-top: -5%;
      margin-left: -4%;
      margin-bottom: 2%;
    }

    .chat-component-scroll-to-bottom {
      font-size: 12px;
      text-align: center;
      background-color: #2d363a;
      padding: 8px;
    }

    .chat-component-empty-chat-message {
      display: flex;
      flex-direction: column;
      background-color: #2d363a;
      padding: 8px;
      font-size: 12px;
      text-align: center;
      border-radius: 4px;
      margin-top: 4px;
    }

    .chat-component-read-indicator-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .chat-component-read-indicator {
      display: flex;
      align-items: center;
      padding: 4px;
      margin-right: -8px;
    }

    .chat-component-read-indicator-icon {
      border-radius: 10px;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      position: relative;
      overflow: hidden;
    }

    .chat-component-read-indicator-icon-image {
      position: absolute;
      width: 20px;
      height: 20px;
      opacity: 0.6;
    }

    .chat-component-footer-divider {
      background-color: rgba(66, 81, 86, 0.4);
      align-self: center;
      width: 80%;
      height: 1px;
      margin-bottom: 2px;
    }

    .chat-component-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #171a1c;
      padding: 4px;
    }

    .chat-component-attach-window-showing {
      max-height: 200px !important;
      display: flex !important;
    }

    .chat-component-attach-window-members-only {
      font-size: 14px;
      padding: 20px;
    }

    .chat-component-attach-window-loading {
      display: flex;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      justify-content: center;
    }

    .chat-component-attach-window-loading-hint {
      margin-bottom: 16px;
    }

    .chat-component-attach-window {
      display: none;
      flex-direction: row;
      align-self: center;
      justify-content: space-around;
      width: 85%;
      max-height: 0;
      background-color: #2d363a;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;

      .buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
      }

      .attach-icon {
        background-color: #171a1c;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: inherit;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin: 8px;
      }
    }

    .chat-component-attachment-modal {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .chat-component-attachment {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 50vw;
      height: 50vh;
    }

    .chat-component-input-with-reply-container {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 100%;

      .chat-component-message-reply-no-margin {
        font-size: 12px;
        border-left: solid 2px #e5c746;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding: 4px;
        color: #c0c0c0;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 2px;
      }

      .chat-component-message-attachment-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      .chat-component-message-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 164px;
        height: 80px;
      }

      .chat-component-message-video {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 80px;
        height: 40px;
      }

      .chat-component-message-sound {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 80px;
        height: 40px;
      }

      .chat-component-message-image-container {
        display: flex;
        flex-direction: column;
      }
    }

    .chat-component-input-container {
      display: flex;
      flex: 1;
      height: 100%;
    }

    .chat-component-input {
      resize: none;
      overflow: auto;
      display: flex;
      flex: 1;
      height: 100%;
      border: none;
      background-color: #1d2326;
      color: #93a4a5;
      padding: 8px 2px;
      font-size: 14px;
    }

    .chat-component-send-button {
      background-color: #2d363a;
      background-size: 28px;
      background-position: center;
      background-repeat: no-repeat;
      width: 32px;
      height: 100%;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }

    .chat-component-attach-button-container {
      background-color: #1d2326;
      height: 100%;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      overflow: hidden;
      display: flex;
    }

    .chat-component-attach-button {
      background-color: #1d2326;
      background-size: 28px;
      background-position: center;
      background-repeat: no-repeat;
      width: 32px;
      height: 100%;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }

    .chat-component-attach-button-rotated {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .chat-component-attach-button-divider {
      background-color: #171a1c;
      height: 24px;
      width: 1px;
      align-self: center;
      margin-left: 2px;
      margin-right: 2px;
    }

    .chat-component-encryption-warning {
      padding: 8px 12px;
      border-radius: 12px;
      background-color: #2d363a;
      margin-top: 4px;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: auto;
      color: #fafafa;
      font-size: 12px;
    }

    .dot-flashing {
      position: relative;
      width: 8px;
      height: 8px;
      margin-top: 2px;
      margin-left: 14px;
      margin-right: 14px;
      border-radius: 5px;
      background-color: #f0f0f0;
      color: #f0f0f0;
      animation: dotFlashing 1s infinite linear alternate;
      animation-delay: 0.5s;
    }

    .dot-flashing::before,
    .dot-flashing::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    .dot-flashing::before {
      left: -13px;
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: #f0f0f0;
      color: #f0f0f0;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 0s;
    }

    .dot-flashing::after {
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: #f0f0f0;
      color: #f0f0f0;
      animation: dotFlashing 1s infinite alternate;
      animation-delay: 1s;
    }

    @keyframes dotFlashing {
      0% {
        background-color: #f0f0f0;
      }
      50%,
      100% {
        background-color: #a0a0a0;
      }
    }
  }

  .chat-settings {
    height: max-content !important;
  }

  .chat-maximised {
    height: 720px !important;
    max-height: 98vh !important;
  }

  .chat-minimised {
    height: auto !important;
  }

  .chat-guest {
    height: 400px !important;
    border-radius: 8px !important;
    overflow: hidden;
  }

  .chat-guest-expanded {
    height: 80vh !important;
    border-radius: 8px !important;
    overflow: hidden;
  }
}

