.messenger {
  position: relative;
  width: 16vw;
  min-width: 300px;
  background-color: #151b26;
  border-left: 2px solid #222b37;
  z-index: 999;

  .locked-chat {
    position: fixed;
    display: flex;
    width: 16vw;
    height: 95vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 64px;
    text-align: left;
    font: 14px Montserrat;
    letter-spacing: 0px;
    color: #fff;
    .img-locked {
      margin-bottom: 8px;
    }
    p {
      display: flex;
      justify-content: center;
      padding: 2px;
    }
    span {
      padding: 2px;
    }
  }
  .rectangle {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    box-shadow: 0 0 0 2px #e6c846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .img-network {
      padding-right: 10px;
    }
    a {
      color: #e6c846;
      text-decoration: none;
    }
    a:hover {
      color: #e6c846;
      text-decoration: none;
    }
  }

  .text-muted {
    margin-bottom: 12px !important;
  }

  .messenger-body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    overflow-y: scroll;
  }

  .messenger-content {
    position: fixed;
    width: 16vw;
    min-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .messenger-chat-bar {
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    z-index: 100;
    right: 20%;
    left: 0;
    bottom: 0;
  }

  .messenger-connection-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
  }

  .messenger-connection-warning-label {
    font-size: 14px;
    font-weight: 600;
    color: #903030;
    margin-bottom: 4px;
  }

  .messenger-connection-warning-hint {
    font-size: 12px;
    color: #707070;
  }

  .messenger-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px;
    &:active {
      opacity: 0.3;
    }
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .messenger-contact-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .messenger-game-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 20px;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .messenger-contact-online-indicator {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .messenger-contact-body {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .messenger-contact-body-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #f0f0f0;
  }

  .messenger-contact-body-subtitle {
    font-size: 14px;
    color: #a0a0a0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 10em;
    height: 16px;
  }

  .messenger-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .messenger-contact-info-last-seen {
    font-size: 12px;
    color: #a0a0a0;
  }

  .messenger-contact-info-unread {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    height: 12px;
    width: 20px;
    border-radius: 4px;
    background-color: #505050;
  }

  .messenger-contact-info-unread-count {
    font-size: 10px;
    color: #a0a0a0;
    text-align: center;
  }

  .messenger-settings-blocked-users-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 8px 4px;
  }

  .messenger-settings-blocked-user-button {
    background-color: #171a1c;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    color: #fff;
  }

  .messenger-settings-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }

  .messenger-settings-toggle-hint {
    display: flex;
    flex-direction: column;
  }

  .messenger-settings-toggle-title {
    color: #fff;
    font-size: 16px;
    font-weight: 1000;
  }

  .messenger-settings-toggle-subtitle {
    color: #a0a0a0;
    font-size: 12px;
    margin-top: 4px;
  }

  .messenger-settings-encryption-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 12px;
    width: 94%;
  }

  .messenger-settings-encryption-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;
  }

  .messenger-settings-encryption-subtitle {
    font-size: 12px;
    text-align: justify;
    color: #a0a0a0;
  }

  .messenger-settings-encryption-key {
    background-color: #2d363a;
    padding: 4px;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    width: 90%;
    margin-top: 14px;
    margin-bottom: 8px;
    align-self: center;
    color: #a0a0a0;
  }

  .messenger-settings-encryption-error {
    margin-top: -12px;
    margin-bottom: 14px;
    font-size: 12px;
    width: 90%;
    text-align: center;
    align-self: center;
    color: #d07070;
  }

  .messenger-settings-encryption-re-encryption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .messenger-settings-encryption-re-encryption-top-label {
    color: #e7bb30;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .messenger-settings-encryption-re-encryption-bottom-label {
    font-size: 14px;
    margin-top: 8px;
  }

  .messenger-settings-encryption-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .messenger-settings-encryption-footer-button {
    background-color: #e7bb30;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    color: #0a0a0a;
  }

  .messenger-settings-encryption-show-button {
    background-color: #2d363a;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    width: 90%;
    align-self: center;
    margin: 14px 0 8px 0;
    text-align: center;
    color: #fafafa;
  }

  .messenger-footer-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    min-width: 10.8%;
  }

  .messenger-footer-container-full {
    height: 100%;
  }

  .messenger-footer {
    display: flex;
    background-color: #151b26;
    margin: 4px;
    align-items: center;
  }

  .messenger-footer-icon-container {
    display: flex;
    height: 100%;
    position: relative;
  }

  .messenger-footer-icon {
    background-color: #2d363a;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    margin: 4px 12px 4px 4px;
  }

  .messenger-footer-status-indicator {
    position: absolute;
    min-width: 30px;
    bottom: 2.8%;
    margin-left: 14px;
    font-size: 8px;
    color: white;
    border-radius: 2px;
    padding: 2px 4px;
    outline: none;
  }

  .messenger-footer-status-online {
    background-color: #68bd45;
  }

  .messenger-footer-status-playing {
    background-color: #fd323c;
  }

  .messenger-footer-status-afk {
    background-color: #d8bd43;
  }

  .messenger-footer-status-offline {
    background-color: #08507d;
  }

  .messenger-footer-search-bar {
    display: flex;
    flex: 1;
    height: 28px;
    margin: 0px 4px;
  }

  .messenger-settings-favorite-games {
    display: flex;
    flex-direction: column;
    background-color: #151b26;
    max-height: 240px;
    overflow-y: scroll;
    padding: 4px;
    margin-top: 4px;
  }

  .messenger-settings-favorite-games-input {
    display: flex;
    flex-direction: column;
    background-color: #151b26;
    max-height: 100px;
    overflow-y: scroll;
    padding: 4px;
    margin-top: 4px;
  }

  .messenger-settings-favorite-game {
    color: #657172;
    background-color: #2d363a;
    font-size: 14px;
    font-weight: 1000;
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 1px 0;
    padding: 0 4px;
  }

  .messenger-settings-select-game {
    color: #657172;
    font-size: 12px;
    font-weight: 1000;
    flex: 1;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    padding: 0 4px;
  }

  .messenger-settings-favorite-game-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 20px;
    position: relative;
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  .messenger-favorite-game-change-icon-button {
    background-color: #171a1c;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-right: 4px;
  }

  .messenger-favorite-game-icon-button {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-right: 4px;
  }

  .messenger-favorite-game-close-button {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 16px;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 4px;
  }

  .messenger-settings-game-input-container {
    position: relative;
    width: 0;
    height: 0;
  }

  .messenger-settings-game-input-hint {
    display: flex;
    padding: 8px;
  }

  .messenger-settings-game-input-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }

  .messenger-settings-game-input {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20vw;
    right: -2px;
    bottom: 0;
    z-index: 10;
    background-color: #151c26;
    border-top: 2px solid #222b37;
  }

  .messenger-settings-game-input-field {
    background-color: #2d363a;
    padding: 4px;
    text-align: center;
    border-radius: 12px;
    font-size: 14px;
    width: 90%;
    align-self: center;
    color: #a0a0a0;
  }

  .messenger-settings-favorite-game-button {
    font-size: 10px;
    background-color: #253338;
    padding: 4px 8px;
    border-radius: 8px;
  }

  .messenger-footer-favorite-game-button {
    background-color: #2d363a;
    color: #fafafa;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 10px;
    margin-left: 4px;
  }

  .messenger-settings-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }

  .messenger-settings-title {
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    padding: 8px;
    margin-top: 8px;
  }

  .messenger-settings-search-field {
    display: flex;
    flex: 1;
    height: 100%;
    border: none;
    background-color: #1d2326;
    color: #93a4a5;
    padding: 2px 6px;
    font-size: 12px;
    height: 28px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
  }

  .messenger-settings-search-button {
    background-color: #2d363a;
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .messenger-footer-settings-button {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .messenger-body-section {
    display: flex;
    flex-direction: column;

    .gamers {
      display: flex;
      flex-direction: column;
      background-color: #151c26;

      .gamer {
        padding: 8px;
      }
    }
  }
  .online-users-desktop {
    margin-right: auto;
  }

  .messenger-body-section-loader {
    display: flex;
    padding: 8px;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    background-color: #2d363a;
    opacity: 0.6;
  }

  .messenger-body-game-section {
    display: flex;
    align-items: center;
  }

  .messenger-body-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d363a;
    padding: 4px 4px 4px 8px;
  }

  .messenger-body-section-header-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d565a;
    padding: 8px 4px 8px 8px;
  }

  .messenger-body-section-header-name {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 1000;
  }

  .messenger-body-section-header-info {
    display: flex;
    align-items: center;
  }

  .messenger-body-section-header-count {
    font-size: 12px;
    color: #909090;
  }

  .messenger-body-section-online-count {
    font-size: 12px;
    color: #f0f0f0;
  }

  .messenger-body-section-header-icon {
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 4px;
  }

  .messenger-body-section-header-icon {
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin-left: 4px;
  }

  .messenger-body-tab-content {
    display: flex;
    flex-direction: column;
    background-color: #151b26;
  }

  .messenger-body-section-content {
    display: flex;
    flex-direction: column;
    background-color: #151b26;
    max-height: 200px;
    overflow-y: scroll;
  }

  .messenger-body-divider-content {
    display: flex;
    flex-direction: column;
    background-color: #151b26;
  }

  .messenger-settings-status-container {
    position: relative;
    width: 0;
    height: 0;
  }

  .messenger-settings-status {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -25px;
    left: -25px;
  }

  .messenger-settings-status-option {
    font-size: 10px;
    color: #fff;
    padding: 6px 12px;
    font-weight: 1000;
    text-align: center;
    width: min-content;
    margin: 2px;
    border-radius: 10px;
  }

  .messenger-new-group-button {
    width: 100%;
    padding: 8px 8px 0px 8px;
    font-size: 0.8em;
    color: #a0a0a0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .messenger-new-group-button-icon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    margin-top: -4px;
  }

  .messenger-empty-message-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px 8px 16px 8px;
  }

  .messenger-empty-message {
    color: #fafafa;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 4px;
  }

  .messenger-search-no-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px 8px 16px 8px;
  }

  .messenger-search-no-results-title {
    color: #fafafa;
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 4px;
  }

  .messenger-search-no-results-subtitle {
    color: #fafafa;
    font-size: 0.9em;
    text-align: center;
    margin-top: 4px;
  }

  .messenger-loading-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 16px;
  }

  .messenger-loading-hint-top {
    color: #fafafa;
    font-size: 1em;
    text-align: center;
    margin-bottom: 16px;
  }

  .messenger-loading-hint-bottom {
    color: #fafafa;
    font-size: 1em;
    text-align: center;
    margin-top: 16px;
  }

  .messenger-loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
  }

  .messenger-encryption-login-container {
    display: flex;
    flex-direction: column;
    background-color: #1d2326;
    margin: auto 24px;
    padding: 30px 12px;
  }

  .messenger-encryption-login-icon-container {
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
  }

  .messenger-encryption-login-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: -50px;
    left: -28px;
    position: absolute;
    width: 43px;
    height: 40px;
  }

  .messenger-encryption-login-title {
    margin-top: 12px;
    color: #fafafa;
    font-size: 16px;
    text-align: center;
  }

  .messenger-encryption-login-input {
    background-color: #2d363a;
    padding: 4px;
    text-align: center;
    border-radius: 12px;
    font-size: 16px;
    width: 90%;
    margin: 8px 0;
    align-self: center;
    color: #a0a0a0;
  }

  .messenger-encryption-login-validate-button {
    background-color: #e7bb30;
    margin: 8px auto;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    color: #0a0a0a;
  }

  .messenger-encryption-login-generate-button {
    background-color: #2d363a;
    margin: 8px auto;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bolder;
    width: 90%;
    text-align: center;
    color: #fafafa;
  }

  .messenger-encryption-login-divider {
    margin: 8px 0;
    width: 100%;
    height: 1px;
    background-color: #999999;
  }

  .messenger-encryption-login-hint {
    margin-top: 12px;
    color: #fafafa;
    font-size: 10px;
  }

  div,
  p,
  a,
  img {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  input {
    border: none;
    outline: none;
  }
  input:focus,
  select:focus,
  button:focus {
    font-size: inherit;
    font-weight: inherit;
    margin-bottom: inherit;
    display: inherit;
    outline: none;
    box-shadow: 0 0 1pt 1pt #1515ff;
  }
}

@media (max-width: 1200px) {
  .messenger {
    display: none;
  }
}
