
.chat-group-options-container {
  background-color: #171A1C;
  position: absolute;
  bottom: 64px;
  right: -30px;
  min-width: 20vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;
}

.chat-group-options-header-container {
  display: flex;
  background-color: #1D2326;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}

.chat-group-options-header-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.chat-group-options-header-info-group-icon {
  background-color: #2D363A;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 32px;
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.chat-group-options-header-info-name-container {
  display: flex;
  align-items: center;
}

.chat-group-options-header-info-name-input {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #1D2326;
  color: #93A4A5;
  padding: 8px 2px 8px 16px;
  font-size: 12px;
}

.chat-group-options-header-info-name {
  color: #F0F0F0;
  font-size: 12px;
  margin-right: 2px;
  word-break: break-all;
}

.chat-group-options-header-info-name-button {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  background-position: center center;
  background-size: cover;
  margin-left: 2px;
}

.chat-group-options-header-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-group-options-header-options-option {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
  background-color: #2D363A;
  color: #FAFAFA;
  padding: 4px 8px 4px 4px;
  font-size: 12px;
  width: fit-content;
}

.chat-group-options-header-options-option-inactive {
  background-color: #161D20 !important;
  color: #627176 !important;
}

.chat-group-options-header-options-option-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  background-position: center center;
  background-size: cover;
  margin-right: 4px;
}

.chat-group-options-contacts-container {
  display: flex;
  flex-direction: column;
  background-color: #171A1C;
  max-height: 132px;
  overflow-y: scroll;
  padding: 8px;
}

.chat-group-options-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 8px;
}

.chat-group-options-contact-info {
  display: flex;
  align-items: center;
}

.chat-group-options-contact-icon {
  background-color: #2D363A;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

.chat-group-options-contact-name {
  color: #F0F0F0;
  font-size: 14px;
}

.chat-group-options-contact-buttons {
  display: flex;
  align-items: center;
}

.chat-group-options-option-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  background-position: center center;
  background-size: cover;
  margin-right: 2px;
}

.chat-group-options-contact-add-button {
  background-color: #2D363A;
  color: #FAFAFA;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 2px;
}

.chat-group-options-contact-added-button {
  background-color: #2D363A;
  color: #627176;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 2px;
}
