.chat-component-base {
  pointer-events: auto;
  background-color: #171A1C;
  display: flex;
  flex-direction: column;
  margin: 4px;
  height: 240px;
  width: 25%;
  font-family: 'Montserrat Alternates', sans-serif;
}

.chat-settings {
  height: max-content !important;
}

.chat-maximised {
  height: 720px !important;
}

.chat-minimised {
  height: fit-content !important;
}

.chat-component-header {
  display: flex;
  background-color: #1D2326;
  padding: 12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.chat-component-header-self-destruct {
  background-color: #502326 !important;
}

.chat-component-header-icon {
  background-color: #2D363A;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.chat-component-header-status-indicator {
  position: absolute;
  margin-top: 25px;
  border-radius: 6px;
  width: 12px;
  height: 12px;
}

.chat-component-header-status-indicator-static {
  margin-top: 25px;
  border-radius: 6px;
  width: 12px;
  height: 12px;
}

.chat-component-header-status-indicator-online {
  background-color: #68BD45;
}

.chat-component-header-status-indicator-playing {
  background-color: #FD323C;
}

.chat-component-header-status-indicator-afk {
  background-color: #D8BD43
}

.chat-component-header-status-indicator-offline {
  background-color: #08507D;
}

.chat-component-header-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-component-header-top-buttons {
  display: flex;
}

.chat-component-header-settings {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.chat-component-header-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.chat-component-header-title {
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
}

.chat-component-header-subtitle {
  font-size: 12px;
  color: #A0A0A0;
}

.chat-component-header-button {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.chat-component-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #171A1C;
  overflow-y: scroll;
  padding: 12px;
}

.chat-component-loading-indicator {
  background-color: #2D363A;
  color: #707070;
  text-align: center;
  font-size: 12px;
  width: 108%;
  padding: 4px;
  margin-top: -5%;
  margin-left: -4%;
  margin-bottom: 2%;
}

.chat-component-read-indicator-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.chat-component-read-indicator {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-right: -8px;
}

.chat-component-read-indicator-icon {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  position: relative;
  overflow: hidden;
}

.chat-component-read-indicator-icon-image {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.chat-component-footer-divider {
  background-color: rgba(66, 81, 86, 0.4);
  align-self: center;
  width: 80%;
  height: 1px;
  margin-bottom: 2px;
}

.chat-component-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171A1C;
  padding: 4px;
}

.chat-component-input-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.chat-component-input {
  resize: none;
  overflow: auto;
  display: flex;
  flex: 1;
  height: 100%;
  border: none;
  background-color: #1D2326;
  color: #93A4A5;
  padding: 8px 2px;
  font-size: 14px;
}

.chat-component-send-button {
  background-color: #2D363A;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.chat-component-attach-button-container {
  background-color: #1D2326;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  display: flex;
}

.chat-component-attach-button {
  background-color: #1D2326;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 100%;
}

.chat-component-attach-button-divider {
  background-color: #171A1C;
  height: 24px;
  width: 1px;
  align-self: center;
  margin-left: 2px;
  margin-right: 2px;
}

.chat-component-encryption-warning {
  padding: 8px 12px;
  border-radius: 12px;
  background-color: #2D363A;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: auto;
  color: #FAFAFA;
  font-size: 12px;
}

.dot-flashing {
  position: relative;
  width: 8px;
  height: 8px;
  margin-left: 12px;
  margin-right: 14px;
  border-radius: 5px;
  background-color: #F0F0F0;
  color: #F0F0F0;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -13px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #F0F0F0;
  color: #F0F0F0;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 13px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #F0F0F0;
  color: #F0F0F0;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #F0F0F0;
  }
  50%,
  100% {
    background-color: #A0A0A0;
  }
}