.chat-component-message {
  padding: 8px 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.chat-component-message::before {
  content: "\00a0";
  display: block;
  height: 8px;
  width:  20px;
}

.chat-component-message-received {
  background-color: #2D363A;
  margin: 4px 40px 4px 8px;
}

.chat-component-message-received::before {
  background-color: #2D363A;
  margin-left: -18px;
  margin-top: -6px;
  float: left;
  transform:             rotate(36deg) skew(-54deg);
      -moz-transform:    rotate(36deg) skew(-54deg);
      -ms-transform:     rotate(36deg) skew(-54deg);
      -o-transform:      rotate(36deg) skew(-54deg);
      -webkit-transform: rotate(36deg) skew(-54deg);
}

.chat-component-message-sent {
  background-color: #425156;
  margin: 4px 8px 4px 40px;
}

.chat-component-message-sent::before {
  background-color: #425156;
  margin-right: -18px;
  margin-top: -8px;
  float: right;
  transform:             skew(-54deg);
      -moz-transform:    skew(-54deg);
      -ms-transform:     skew(-54deg);
      -o-transform:      skew(-54deg);
      -webkit-transform: skew(-54deg);
}

.chat-component-message-selected {
  background-color: #425180 !important;
}

.chat-component-message-selected::before {
  background-color: #425180 !important;
}

.chat-component-message-deleted {
  background-color: #303030 !important;
}

.chat-component-message-deleted::before {
  background-color: #303030 !important;
}

.chat-component-message-container {
  display: flex;
  justify-content: space-between;
}

.chat-component-message-content-body {
  display: flex;
  align-items: center;
}

.chat-component-message-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.chat-component-message-content {
  z-index: 1;
  display: flex;
  flex: 1;
  color: #FFFFFF;
  word-break: break-word;
  font-size: 12px;
  margin-right: 4px;
}

.chat-component-message-side-container {
  display: flex;
  align-items: flex-end;
}

.chat-component-message-edited {
  z-index: 1;
  color: #93A4A5;
  margin-bottom: 2px;
  font-size: 7px;
}

.chat-component-message-date {
  z-index: 1;
  color: #93A4A5;
  font-size: 8px;
  text-align: end;
}

.chat-component-message-options-button {
  width: 20px;
  height: 20px;
  margin-top: -8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: initial;
}

.chat-component-message-options-menu-container {
  position: relative;
  width: 0px;
  height: 0px;
}

.chat-component-message-options-menu-inner-container {
  position: absolute;
  top: 0;
}

.chat-component-message-options-menu {
  position: absolute;
  right: -16px;
  z-index: 10;
}

.chat-component-message-options-menu-upwards {
  top: -78px;
}

.chat-component-message-options-menu-downwards {
  top: -14px;
}

.chat-component-message-options-menu-sent {
  background-color: rgb(29, 34, 37);
}

.chat-component-message-options-menu-received {
  background-color: rgb(68, 80, 85);
}

.chat-component-message-options-row-divider {
  width: 100%;
  height: 1px;
  margin: 2px 0;
}

.chat-component-message-options-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.chat-component-message-options-label {
  color: rgb(117, 132, 133);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 8px;
}

.chat-component-message-input {
  font-size: 14px;
  background-color: #425156;
  border: none;
  color: #FAFAFA;
}

.chat-component-message-date-divisor {
  background-color: #2D363A;
  color: #627176;
  padding: 6px;
  border-radius: 4px;
  font-size: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}