.dropdown-component {
  position: relative !important;
  width: 100% !important;
  height: 0 !important;

  .container {
    position: absolute !important;
    background-color: #171a1c !important;
    padding: 12px 0 !important;
    display: flex !important;
    flex-direction: column !important;
    z-index: 1 !important;
    width: 100% !important;
  }

  .item {
    color: #93a4a5 !important;
    display: flex !important;
    flex: 1 !important;
    padding: 4px 12px !important;
  }

  .item:hover {
    background-color: #333333 !important;
  }

  .empty {
    font-size: 12px !important;
    color: #d0d0d0 !important;
    text-align: center !important;
  }
}
