#find-gamers {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  font-family: 'Montserrat', sans-serif;

  .filter__control {
    background-color: #4d565a !important;
    border: none !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .filter__single-value {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .filter__menu {
    background-color: #4d565a !important;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    z-index: 1000 !important;
  }

  .filter__option {
    background-color: #0b0f14 !important;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .filter__option:hover {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #0b0f14 !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .filter__control--is-focused {
    .filter__value-container {
      height: 45px;
    }
  }

  .help {
    font-weight: bold;
    font-size: 24px;
    color: #e5c746;
    position: absolute;
    right: 12px;
    padding: 4px;
  }

  .gamer-row {
    width: 100%;
  }

  .game-experience-row {
    flex-wrap: nowrap;
  }

  .hover-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  #find-gamers-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 48px;

    .no-experiences {
      color: #c0c0c0;
      cursor: pointer;
    }
  }

  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 16px;
    background-color: #1d2326;
    border-radius: 12px;
    margin: 20px 0 20px 20px;
    width: 33%;

    .name {
      color: white;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Montserrat' !important;
    }

    .experience {
      color: #f0f0f0;
      font-size: 14px;
      font-family: 'Montserrat' !important;
      margin-top: 6px;
      margin-bottom: 8px;
    }

    .pro {
      color: #ffd9b9;
      border: 1px solid #ffd9b9;
      border-radius: 8px;
      border-radius: 30px;
      text-align: center;
      font-size: 14px;
      font-family: 'Montserrat' !important;
      padding: 4px 8px;
    }

    .semi-pro {
      color: #ffd9b9;
      border: 1px solid #ffd9b9;
      border-radius: 8px;
      border-radius: 30px;
      text-align: center;
      font-size: 14px;
      font-family: 'Montserrat' !important;
      padding: 4px 8px;
    }

    .casual {
      color: #9dceff;
      border: 1px solid #9dceff;
      border-radius: 8px;
      border-radius: 30px;
      text-align: center;
      font-size: 14px;
      font-family: 'Montserrat' !important;
      padding: 4px 8px;
    }
  }

  .headers {
    display: flex;
    flex-direction: row;
    padding: 12px;
    font-size: 18px;
    color: white;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;

    .header {
      border-bottom: 2px solid #1e2326;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 8px;
      flex: 1;
    }

    .selected {
      border-bottom: 2px solid #e5c746 !important;
    }
  }

  .hover {
    border: none;
    box-shadow: 0 0 0 2px #e5c746;
  }

  .input-container {
    display: flex;
    position: relative;
    font-size: 16px;
    height: 40px;
    width: 100%;
  }

  .input {
    display: flex;
    flex: 1;
    height: 100%;
    border: none;
    background-color: #1d2326;
    color: #93a4a5;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
  }

  .top-bar {
    font-size: 18px;
    font-family: 'Montserrat' !important;
    font-weight: bold;
    text-align: center;
    color: #fafafa;
    background-color: #1d2326;
    padding: 16px;
    width: 100%;
    border-bottom: 2px solid #344953;
  }

  .find-gamers-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
    .gamer-row {
      width: 100%;
    }
  }

  .background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .empty {
    color: white;
    padding: 16px;
  }

  .empty-tab {
    color: white;
    padding: 16px 16px 24px 16px;
  }

  .base-button {
    background-color: #e5c746;
    padding: 4px 22px;
    margin: 12px;
    border-radius: 2px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }

  .small-button {
    background-color: #e5c746;
    border-radius: 2px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 4px 12px;
    font-size: 12px;
    margin: 12px 4px;
    font-family: 'Montserrat' !important;
    white-space: nowrap;
  }

  .disabled-button {
    @extend .base-button;
    opacity: 40%;
    font-weight: 500;
  }

  .invalid-button {
    @extend .base-button;
    background-color: #ee4338;
    font-weight: 500;
    opacity: 40%;
  }

  .button-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: unset;
    background-color: #657172;
    border-radius: 1000px;
  }

  .base-container {
    position: absolute;
    top: 12.5%;
    bottom: 12.5%;
    left: 0;
    right: 0;
    border-radius: 8px;
    z-index: 901;
    margin: auto;
    padding: 0;
  }

  .close-button {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: unset;
    background-color: #657172;
    border-radius: 1000px;
    position: absolute;
    top: -12px;
    right: -8px;
    width: 28px;
    height: 28px;
  }

  .small-content {
    width: 100% !important;
    height: unset !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-bottom: none !important;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #181a1c;
    padding-top: 8px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  #find-gamers-search {
    padding: 0 10px;
    max-width: 1800px;
    width: 80%;
    margin: 0 auto;
  }

  #find-gamers-filter {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin: -32px 64px 20px 64px;
    max-width: 1800px;
    border-left: 2px solid #344953;

    .filter-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 8px 0;

      .filter-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        width: 50%;

        .filter-label {
          font-size: 16px;
          font-family: 'Montserrat' !important;
          color: #fff;
          margin: 8px 0 2px 0;
        }

        .filter-text {
          width: 100%;
          margin: 0;
          background-color: #4d565a;
          border: none;
          padding: 0;
          color: #fff;
          padding: 8px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 500;
          max-width: 450px;
          &::placeholder {
            color: #808080;
          }
        }

        .filter-select {
          width: 100%;
          margin: 0;
          background-color: #4d565a;
          border: none;
          padding: 0;
          color: #fff;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 500;
          max-width: 450px;
          &::placeholder {
            color: #fff;
          }
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -5px;
      width: 8px;
      height: 8px;
      background-color: #e6c846;
    }
    .label {
      font-size: 20px;
      font-family: 'Montserrat' !important;
      color: #fff;
    }
    .add-filter {
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        padding: 8px 0;
        color: #e6c846;
        font-size: 14px;
        font-family: 'Montserrat' !important;
        cursor: pointer;
        .text {
          padding: 4px 8px;
        }
      }
      .add-filter-menu {
        .title {
          width: 180px;
          height: 32px;
          background-color: #1d2326;
          border-bottom: 1px solid #384952;
          border-radius: 4px 4px 0px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-family: 'Montserrat' !important;
          text-align: center;
          color: #fff;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }
        .content {
          width: 180px;
          min-height: 180px;
          background-color: #171a1c;
          border: 1px solid #384952;
          opacity: 1;
          .option {
            text-align: left;
            font-size: 12px;
            font-family: 'Montserrat' !important;
            color: #fff;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .selected {
            background-color: #4d565a !important;
          }
        }
      }
    }
  }

  #find-gamers-online {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 48px;
    margin: 0;
    .hint {
      margin: 0 8px;
      padding: 0;
      color: #f0f0f0;
      font-size: 14px;
      font-weight: normal;
    }
  }

  .find-gamers-results {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    background-color: #0B0F14;
    border-top: 2px solid #273137;

    .loading {
      display: flex;
      flex-direction: column;
      padding: 16px;
      align-items: center;
      justify-content: center;
    }

    .loading-hint {
      margin-bottom: 16px;
    }

    .find-gamer-result {
      display: flex;
      flex-direction: row;
      margin: 12px 36px;
      font-family: 'Montserrat' !important;

      .row {
        width: 100%;
      }

      .level-progress {
        display: flex;
        height: 100%;
        width: 96px;
        color: white;
        margin: 0 8px;
        background-color: transparent;
        align-items: center;
        justify-content: center;
      }

      .gamer {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 8px 8px 8px 32px;
        background-color: #1d2326;
        border-radius: 8px;
        margin-right: 12px;
      }

      .icon {
        position: absolute;
        left: -26px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 52px;
        height: 52px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        border-radius: 1000px;
      }

      .circle-wrap {
        width: 130px;
        height: 130px;
        background: #1d2326;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 8px;
        justify-content: center;
        width: 200px;
        overflow-x: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */

        .alias {
          color: white;
          font-size: 16px;
          font-weight: bold;
          font-family: 'Montserrat' !important;
        }

        .title {
          color: #606060;
          font-size: 10px;
          font-family: 'Montserrat' !important;
          margin: 4px 0 0 0;
          padding: 0;
        }

        .value {
          color: #f0f0f0;
          font-size: 12px;
          font-family: 'Montserrat' !important;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #find-gamers {
    &.menuAtTop {
      padding: 85px 0 0;
    }

    #find-gamers-search {
      padding: 0;
      margin: 0 8px;
      .search-gamers-input {
        border-radius: 1000px;
      }
    }
    #find-gamers-online {
      display: none;
    }
    .top-bar {
      background-color: transparent;
      border: none;
    }
    .headers {
      display: none;
    }
    #find-gamers-banner {
      display: none;
    }
    #find-gamers-filter {
      margin: 24px 8px;
      .filter-row {
        width: 100%;
      }
    }
    .find-gamers-results {
      padding: 0 !important;
      .game-experience-row {
        display: none !important;
      }
      .find-gamer-result {
        margin: 12px !important;
        max-width: 100% !important;
        .gamer {
          width: 100% !important;
        }
        .info {
          width: 50% !important;
        }
        .alias-info {
          margin-left: 24px !important;
        }
        .icon {
          left: 8px !important;
          top: 8px !important;
          width: 48px !important;
          height: 48px !important;
          margin: 0 !important;
          bottom: unset !important;
        }
      }
    }
  }
}
