.app-container.home-page .group-home {
  overflow: hidden;

  .header-area {
    position: relative;
    width: 99%;
    height: 408px;
  }

  .top-container {
    .userbackground-img {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 360px;
      width: 99%;

      .header-background-uploader {
        position: absolute;
        left: 30px;
        top: 30px;
        color: white;
        border: 1px solid white;
        padding: 8px;
        cursor: pointer;
        display: none;
      }

      &:hover .header-background-uploader {
        display: inline-block;
      }
    }
    .group-controller-container {
      background-color: white;
      width: 99%;
      height: 42px;
      display: flex;
      .group-status {
        padding: 8px;
        .status {
          padding: 4px;
        }
      }
      .group-approvals {
        padding: 8px;
        .approvals {
          padding: 4px;
        }
      }
      .group-type,
      .group-name {
        padding: 8px;
        display: flex;
        align-items: center;
        color: $myG-black;
        .type {
          padding: 4px;
        }
      }
      .member-list {
        padding: 8px;
        .members {
          padding: 4px;
        }
      }
    }
  }
}
