#invite-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0 12px;
    margin: 0;
    background-color: #1d2326;
    border-radius: 12px;

    .no-games {
      display: flex;
      flex-direction: column;
      padding: 8px;
      margin: 8px;
      align-items: center;
      justify-content: center;

      .title {
        font-size: 18px;
        font-weight: 500;
        color: #909090;
        margin: 0;
        padding: 0;
      }

      .subtitle {
        font-size: 16px;
        color: #606060;
        padding: 0;
        margin: 0;
      }
    }

    .game-list {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: 400px;
      background-color: #181a1c;
      margin-bottom: 12px;
      border-radius: 12px;

      .game-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4px;
        padding: 0;

        .invite-button {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          background-color: #e5c746;
          color: #000000;
          margin: 16px;
          padding: 0px 8px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: bold;
          height: 30px;
        }

        .game {
          display: flex;
          flex-direction: row;
          justify-content: start;
          width: 100%;
          margin: 8px;
          padding: 0;
          position: relative;
          background-color: #1d2326;
          max-width: unset;

          .gamer-count {
            margin-left: 8px; 
          }

          .picture {
            width: 120px;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;

            .image {
              width: 120px;
              height: 160px;
            }
            .default {
              width: 120px;
              height: 75px;
            }
          }

          .info {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0 24px 0 12px;
            display: flex;
            flex-direction: column;

            .row {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              margin: 4px 0 0 0;
              padding: 0;
              color: #fff;

              .title {
                font-size: 18px;
                font-family: 'Montserrat';
                color: #fff;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0;
                margin: 0;
              }

              .owner {
                font-family: 'Montserrat';
                font-weight: bold;
                color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;

                span {
                  margin-left: 8px;
                }

                img {
                  width: 24px;
                  height: 24px;
                  border-radius: 50%;
                  background: #fff;
                }
              }

              .count {
                display: flex;
                font-size: 12px;
              }

              .timestamp {
                display: flex;
                font: 12px/14px Montserrat;
                letter-spacing: 0px;
                color: #fff;
                img {
                  width: 15px;
                  height: 15px;
                  margin-right: 5px;
                }
              }

              .tags {
                display: flex;
                margin-top: 20px;

                .tag {
                  border: 1px solid #b9b9b9;
                  border-radius: 4px;
                  letter-spacing: 0px;
                  color: #b9b9b9;
                  padding: 4px 8px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin-right: 12px !important;
                  font-weight: 600;
                  font-family: 'Montserrat';
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
