@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.individual-toasts {
  display: flex;
  align-items: center;
}

.modal-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: #24202082;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &.modal--show {
    display: flex;
  }

  .modal-wrap {
    width: 90%;
    max-width: 800px;
    height: 688px;
    background: white;
    position: relative;

    .modal-header {
      padding: 10px 12px;
      background: #f5f6f7;
    }

    .modal-content {
      padding: 10px 12px;

      .upload-image-preview {
        width: 288px;
        height: 288px;
        border: 1px solid gray;

        &.open {
          width: 100%;
          height: auto;
          max-height: 388px;
          overflow: auto;
        }

        img {
          width: 100%;
        }
      }

      .upload-btn {
        cursor: pointer;
        display: inline-block;
        margin-top: 20px;
      }

      .uploading-container {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 10px;

        &.uploading--hide {
          display: none;
        }

        .uploading {
          border: 3px solid #f3f3f3;
          border-top: 3px solid #311a1a;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          animation: spin 2s linear infinite;
        }
      }

      .open-btn {
        cursor: pointer;
        display: inline-block;
      }

      .modal-text {
        margin-top: 25px;
        margin-bottom: 10px;
      }

      .save-btn {
        margin-top: 20px;
        padding: 10px 20px;
        display: inline-block;
        background: #0178ff;
        color: white;
        cursor: pointer;

        &.btn--disable {
          background: #59636d;
        }
      }

      .uploaded-files-content {
        overflow: auto;
        height: 300px;

        .uploaded-file-preview {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;

          .file-preview-wrap {
            width: calc(50% - 10px);
            // height: 150px;
            font-size: 0px;
            margin-bottom: 10px;
            overflow: hidden;
            cursor: pointer;

            margin-right: 5px;
            border: 1px solid white;
            position: relative;

            &:hover {
              border: 1px solid blue;
            }
            img {
              width: 100%;
            }

            video {
              width: 100%;
            }

            .file-preview-overlay {
              position: absolute;
              left: 0px;
              right: 0px;
              width: 100%;
              height: 100%;
              background: #18161675;
              display: none;
              .file-preview-delete {
                position: absolute;
                right: 5px;
                top: 5px;
                color: red;
                z-index: 11;
                font-size: 12px;
              }
            }
            &:hover .file-preview-overlay {
              display: block;
            }
          }
        }
      }
    }

    .modal-close-btn {
      display: inline-block;
      position: absolute;
      right: 12px;
      top: 10px;
      cursor: pointer;
    }
  }
}
