$main-shade: #171a1c;
$secondary-shade: #1d2326;
$third-shade: #2d363a;
$main-font: 'Montserrat';

.app-container.home-page .notifications-page {
  .postCompose__container {
    width: inherit !important;
    padding: 0;
  }

  .notifications-container {
    height: 100vh !important;
    background-color: $main-shade;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .notifications-menu {
      width: 180px;
      background-color: $secondary-shade;
      border-right: 1px $third-shade solid;
      display: inline-block;
      vertical-align: top;
      height: 104vh;

      .button-list {
        position: relative;
        width: 100% !important;
        height: 300px;
        margin-top: 100px;
      }

      .button {
        width: 100%;
        height: 60px;
        background-color: $secondary-shade;
        border: 1px $third-shade solid;
        text-align: left;
        font-size: 16px/14px;
        font-family: $main-font;
        font-weight: 700;
        color: #fff;
        padding: 15px 0 18px 20px;
        box-sizing: border-box;
        display: block;
        cursor: pointer;

        &:focus {
          margin: 0;
          height: 60px !important;
          font-size: 16px/14px !important;
          padding: 0 0 0 20px !important;
          text-decoration: none;
          outline: none;
        }

        &:nth-of-type(2n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Approvals.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }
        &:nth-of-type(5n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Alerts.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }
        &:nth-of-type(6n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Approvals.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }

        &:nth-of-type(3n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Alerts.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }

        &:nth-of-type(4n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Chat.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }

        &:nth-of-type(7n) {
          &::before {
            content: url('https://mygame-media.s3.amazonaws.com/platform_images/Notifications/Settings.svg');
            top: 5px;
            position: relative;
            margin: 0 12px 0 0;
          }
        }
      }

      .active {
        width: calc(100% + 2px);
        background-color: $main-shade;
        border-right: 2px $main-shade solid;
        box-sizing: none;
        font-size: 12px;
      }
    }
    .upcoming__game,
    .game__approval,
    .game__report,
    .game__reportedUser .notification__container {
      .noRecordFound__wraper {
        background: #181a1c;
        .noRecordFound__body {
          color: #40494c;
          display: flex;
          justify-content: center;
          .addScheduleGames__link {
            margin-left: 5px;
          }
        }
      }
    }

    .gameList__box {
      position: relative;
      max-height: 100vh;
      overflow: scroll;
      .mygames {
        display: flex;
        justify-content: start;
        min-height: 163px;
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        &.active {
          background: #ffffff0d;
          &::after {
            border-bottom: 2px solid #a09770;
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
          }
        }
        &:hover {
          background: #ffffff0d;
          &::after {
            border-bottom: 2px solid #a09770;
            content: '';
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100%;
          }
        }
        .gameImage {
          width: 120px;
          $num-colors: 1000;
          border-radius: 4px 0px 0px 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          .image {
            width: 120px;
            height: auto;
            max-height: 163px;
          }
          .default-image {
            width: 120px;
            position: relative;
            height: 75px;
          }
        }
        &:nth-of-type(4n) {
          .gameImage {
            background-color: #8d7514;
          }
        }

        &:nth-of-type(4n + 1) {
          .gameImage {
            background-color: #652a2a;
          }
        }

        &:nth-of-type(4n + 2) {
          .gameImage {
            background-color: #2a2a65;
          }
        }

        &:nth-of-type(4n + 3) {
          .gameImage {
            background-color: #568842;
          }
        }
        .game__attributes {
          padding: 15px;
          width: 100%;
          padding-bottom: 0;
          .first__row {
            display: flex;
            margin-bottom: 10px;
            .game__name {
              flex: auto;
              font: Bold 20px/14px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 200px;
              margin-top: 10px;
              cursor: pointer;
            }
            .game__playerList {
              flex: auto;
              justify-content: flex-end;
              display: flex;
              align-items: center;
              img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #fff;
              }
              .playerName {
                text-align: left;
                font: 10px/14px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                margin-left: 5px;
                display: flex;
                align-items: center;
                font-weight: 600;
                cursor: pointer;
                span {
                  margin-left: 5px;
                }
              }
            }
          }
          .second__row {
            display: flex;
            justify-content: flex-start;
            height: 30px;
            .gamer__count,
            .game__timestamp {
              display: flex;
              font: 12px/14px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              img {
                width: 15px;
                height: 15px;
                margin-right: 5px;
              }
            }
            .game__timestamp {
              margin-left: 10px;
            }
          }
          .third__row {
            display: flex;
            margin-top: 30px;
            .game__tags {
              flex: auto;
              flex: auto;
              flex-wrap: wrap;
              margin-right: auto;
              .game__tag {
                max-width: 90px;
                height: 24px;
                border: 1px solid #b9b9b9;
                border-radius: 4px;
                font: 14px/14px Montserrat;
                letter-spacing: 0px;
                color: #b9b9b9;
                padding: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0 5px 5px 0;
              }
            }
            .game__level__wrap {
              display: flex;
              margin-left: auto;
              .game__level {
                max-width: 100px;
                height: 27px;
                border: 1px solid #d6b9ff;
                border-radius: 23px;
                font: 14px/14px Montserrat;
                letter-spacing: 0px;
                color: #b9b9b9;
                padding: 6px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 10px;
                margin-left: 5px;
                &.game__level_Professional {
                  color: #ffd9b9;
                  border: 1px solid #ffd9b9;
                }
                &.game__level_Semi {
                  color: #d6b9ff;
                  border: 1px solid #d6b9ff;
                }
                &.game__level_Casual {
                  color: #9dceff;
                  border: 1px solid #9dceff;
                }
              }
            }
          }
        }
      }
      .time {
        width: 200px;
        height: inherit;
        background-color: $third-shade;
        border-radius: 0 10px 10px 0;
        font-family: $main-font;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        display: inline-block;

        .time-align {
          position: relative;
          margin-top: 30px;
          height: 80px;
        }

        .time-info {
          font-size: 45px !important;
          font-weight: 700 !important;
        }
      }

      .start-soon {
        background-color: #e5c746 !important;
        color: #000000;
      }
    }

    .game__approval {
      .gameList__box {
        max-height: 85vh;
      }
      .notification-content {
        margin-left: 0;
      }
    }
    .game__report {
      .decline {
        width: 140px !important;
        margin-right: 10px;
      }
    }
    .game__reportedUser {
      .notification-description {
        max-width: inherit !important;
      }
      .notification {
        min-height: 90px !important;
        height: auto !important;
        .notification-actions {
          position: absolute;
          right: 0;
          bottom: -15px;
          .decline {
            width: 140px !important;
            margin-right: 10px;
          }
        }
      }
    }
    .notification__container {
      .gameList__box {
        max-height: 70vh;
      }
    }

    .notifications-content {
      width: calc(100% - 180px);
      display: inline-block;
      padding: 20px;
      box-sizing: border-box;
      overflow-y: scroll;
      height: 100vh;
    }
  }

  .upcoming-game {
    margin-top: 10px;
    width: 100%;
    height: 160px !important;
    background-color: $secondary-shade;
    border-radius: 10px;
    display: block;
    cursor: pointer;

    .thumbnail {
      width: 120px;
      height: 160px;
      border-radius: 10px 0 0 10px;
      text-align: center;
      display: inline-block;

      .image {
        width: 120px !important;
        height: 160px !important;
        border-radius: 10px 0 0 10px;
      }

      .default-image {
        top: 50%;
        position: relative;
        margin-top: -37px;
      }
    }

    &:nth-of-type(1n) {
      .thumbnail {
        background-color: #652a2a;
      }
    }

    &:nth-of-type(2n) {
      .thumbnail {
        background-color: #2a2a65;
      }
    }

    &:nth-of-type(3n) {
      .thumbnail {
        background-color: #568842;
      }
    }

    &:nth-of-type(4n) {
      .thumbnail {
        background-color: #8d7514;
      }
    }

    .content {
      width: calc(100% - 240px);
      height: inherit;
      display: inline-block;
      padding: 22px;
      box-sizing: border-box;

      .header {
        height: 90px;
        width: 100%;

        .game-title {
          font: bold 20px/14px $main-font;
          text-align: left;
          color: #fff;
          display: inline-block;
        }

        .game-user {
          display: inline-block;

          .profile-picture {
            margin-right: 10px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            box-shadow: 0 2px 0 #a0a0a0;
            img {
              width: 100%;
            }
          }

          .user-name {
            margin-top: 11px;
            font-family: $main-font;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            display: inline-block;
          }
        }

        .match-info {
          margin-top: 15px;

          .players {
            font-family: $main-font;
            font-size: 12px;
            font-weight: 500;
            margin: 0 20px 0 0;
            color: #fff;

            &:before {
              content: url('https://mygame-media.s3.amazonaws.com/platform_images/Dashboard/Notifications/little_green_man.svg');
              margin-right: 5px;
            }
          }

          .start-date-time {
            font-family: $main-font;
            font-size: 12px;
            font-weight: 500;
            color: #fff;

            &:before {
              content: url('https://mygame-media.s3.amazonaws.com/platform_images/Dashboard/Notifications/clock.svg');
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .top-tabs {
    width: 100%;
    height: 62px;
    border-bottom: 1px #101214 solid;
    margin-bottom: 30px;

    .tab-button {
      height: 61px;
      width: 25%;
      background-color: transparent !important;
      font-family: $main-font;
      font-size: 14px/14px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      border: none;
      display: inline-block;
      box-sizing: border-box;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        outline: none;
      }
    }

    .active {
      border-bottom: 2px #e5c746 solid;
    }
  }

  .top-actions {
    height: 60px;
    margin: 20px 0 20px 0;
    display: block;

    .actions {
      float: right;

      .action {
        margin-right: 20px;
        padding: 8px 10px 8px 10px;
        background-color: #e5c746;
        font-family: $main-font;
        font-size: 12px/11px;
        font-weight: 700;
        color: #000;
        border: none;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;

        &:focus {
          outline: none;
        }

        &:active {
          outline: none;
        }
      }
    }
  }

  .notification {
    width: 100%;
    height: 90px;
    background-color: #0b0f14;
    border-radius: 4px;
    margin: 0 0 25px 0;
    position: relative;
    &.unread {
      background: $secondary-shade;
    }

    .notification-user-avatar {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      box-sizing: border-box;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .notification-content {
      margin-left: 20px;
      position: relative;
      display: flex;
      padding: 10px;

      .notification-description {
        max-width: 60%;
        font-family: $main-font;
        font-size: 12px;
        color: #93a4a5;
        font-weight: 300;
        line-height: 160%;
        display: inline-table;
        flex-wrap: wrap;
        &.unread {
          font-weight: 700;
        }

        .username__link {
          display: inline-flex;
        }
        .notification__text {
          display: inline;
          margin-left: 5px;
        }
        .notification-username {
          color: #fff !important;
          text-align: left;
          letter-spacing: 0px;
        }

        .notification-type {
          color: #fff !important;
          margin-right: 5px;
          margin-left: 5px;
        }

        .notification-link {
          color: #fff !important;
          text-decoration: underline;
        }
      }

      .notification-options {
        margin-right: 15px;
        display: inline-block;
        margin-left: auto;

        .notification-time {
          text-align: right;
          font-size: 14px;
          color: #fff;
          font-weight: 700;
          display: block;
        }

        .notification-actions {
          margin-top: 15px;
          display: flex;

          .action {
            font-family: $main-font;
            font-size: 12/11px;
            font-weight: 700;
            color: #fff;
            padding: 8px 14px 8px 14px;
            border: none;
            border-radius: 4px 4px 0 0;
            display: inline-block;
            cursor: pointer;

            &:focus {
              outline: none;
            }

            &:active {
              outline: none;
            }
          }

          .accept {
            width: 100px;
            height: 38px;
            margin-right: 20px;
            text-align: center;
            font: Bold 12px/11px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            background: #446f62 0% 0% no-repeat padding-box;
            border-radius: 4px 4px 0px 0px;
          }

          .decline {
            width: 100px;
            height: 38px;
            text-align: center;
            font: Bold 12px/11px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            background: #804545 0% 0% no-repeat padding-box;
            border-radius: 4px 4px 0px 0px;
            img {
              transform: rotate(-160deg);
            }
          }
        }
      }
    }

    .post {
      width: 220px;
      height: 80px;
    }
    .post .avatar {
      float: left;
      width: 52px;
      height: 52px;
      background-color: #ccc;
      border-radius: 25%;
      margin: 8px;
      background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40px, #f4f4f4 80px);
      background-size: 600px;
      animation: shine-avatar 2s infinite ease-out;
    }
    .post .line {
      float: left;
      width: 140px;
      height: 16px;
      margin-top: 12px;
      border-radius: 7px;
      background-image: linear-gradient(90deg, #f4f4f4 0px, rgba(229, 229, 229, 0.8) 40px, #f4f4f4 80px);
      background-size: 600px;
      animation: shine-lines 2s infinite ease-out;
    }
    .post .avatar + .line {
      margin-top: 11px;
      width: 100px;
    }
    .post .line ~ .line {
      background-color: #ddd;
    }

    @keyframes shine-lines {
      0% {
        background-position: -100px;
      }
      40%,
      100% {
        background-position: 140px;
      }
    }
    @keyframes shine-avatar {
      0% {
        background-position: -32px;
      }
      40%,
      100% {
        background-position: 208px;
      }
    }
  }

  .alert {
    min-height: 70px;
  }

  .endline {
    height: 70px;
    padding: 20px 10px 0 10px;
    border-top: 1px #384952 solid;
    font-family: $main-font;
    font-size: 12px;
    color: #93a4a5;
    font-weight: 700;
    text-align: center;
  }

  .settings {
    .option {
      width: 100%;
      height: 70px;
      padding: 20px;
      border-bottom: 1px #384952 solid;
      display: block;

      .title {
        font-family: $main-font;
        font-size: 14px/22px;
        font-weight: 400;
        color: #fff;
      }

      &:last-of-type {
        border: none;
      }
    }
  }

  .noRecordFound__wraper {
    background: #0b0f14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    .noRecordFound__header {
      font: 24px/18px Montserrat;
      font-weight: bold;
      letter-spacing: 0px;
      color: #ffffff;
      margin-bottom: 30px;
      text-align: center;
      .noRecordFound__body {
        font: 18px/16px Montserrat;
        font-weight: 400;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        margin-bottom: 20px;
        .addScheduleGames__link {
          color: #e5c746 !important;
          cursor: pointer !important;
        }
      }
    }
  }
}
