#profile {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  font-family: 'Montserrat Alternates', sans-serif;

  .filter__control {
    // background-color: #4d565a !important;
    border: none !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
  }

  .filter__single-value {
    color: #fff !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
  }

  .filter__menu {
    // background-color: #4d565a !important;
    // color: #fff !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
  }

  .filter__option {
    // background-color: #0b0f14 !important;
    // color: #fff !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
  }

  .filter__option:hover {
    // background-color: rgba(0, 0, 0, 0) !important;
    color: #0b0f14 !important;
    font-family: 'Montserrat Alternates', sans-serif !important;
  }

  .filter__control--is-focused {
    .filter__value-container {
      height: 45px;
      .css-b8ldur-Input {
        color: white !important;
      }
    }
  }

  .suggestion-bar {
    flex-wrap: wrap;
    min-height: 4em;
    .suggestion-button {
      min-width: 45%;
      max-width: 45%;
      margin: 2px;
      text-align: center;
    }
  }

  .hover-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
  }

  .small-button {
    background-color: #e5c746;
    border-radius: 2px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 4px 12px;
    font-size: 12px;
    margin: 12px 4px;
    font-family: 'Montserrat';
    white-space: nowrap;
  }

  .tiny-button {
    background-color: #e5c746;
    border-radius: 2px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    padding: 2px 6px;
    font-size: 10px;
    margin: 16px 4px;
    font-family: 'Montserrat';
    white-space: nowrap;
  }

  .hover-banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 196px;
    padding: 20px;
    pointer-events: none;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d2326;
    color: #e0e0e0;
  }

  .background {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .empty {
    color: white;
    padding: 16px;
  }

  .empty-tab {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 16px 24px 16px;
    margin-top: 48px;
    font-family: 'Montserrat';
  }

  .share-button {
    position: absolute;
    background-color: #e5c746;
    top: 20px;
    right: 20px;
    font-size: 12px;
    border-radius: 2px;
    width: unset;
    font-weight: bold;
    padding: 4px 12px;
  }

  .find-link {
    color: white;
    width: 100%;
    padding: 0 4vw;
  }

  .find-link-link {
    color: #e5c746;
  }

  .aligned-button {
    width: 12%;
    text-align: center;
  }

  .base-button {
    background-color: #e5c746;
    padding: 4px 22px;
    margin: 12px;
    border-radius: 2px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }

  .disabled-button {
    @extend .base-button;
    opacity: 40%;
    font-weight: 500;
  }

  .invalid-button {
    @extend .base-button;
    background-color: #ee4338;
    font-weight: 500;
    opacity: 40%;
  }

  .base-container {
    position: absolute;
    top: 12.5%;
    bottom: 12.5%;
    left: 0;
    right: 0;
    border-radius: 8px;
    z-index: 901;
    margin: auto;
    padding: 0;
  }

  .close-button {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: unset;
    background-color: #657172;
    border-radius: 1000px;
    position: absolute;
    top: -12px;
    right: -12px;
    width: 28px;
    height: 28px;
  }

  .small-content {
    width: 100% !important;
    height: unset !important;
    align-items: center !important;
    justify-content: flex-start !important;
    border-bottom: none !important;
  }

  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .content {
    display: flex;
    flex-direction: column;
    background-color: #181a1c;
    padding-top: 8px;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .banner {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      min-height: 100px;
    }

    .fields {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      padding: 0 8px;
      width: 100%;
      height: 100%;
    }

    .options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 40%;
    }

    .transparent-icon {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: unset;
      background-color: transparent;
      border-radius: 1000px;
      width: 40px;
      height: 40px;
      margin-left: 16px;
      margin-right: 8px;
      padding: 0px;
    }

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;
      color: #c0c0c0;
      align-items: center;
      padding: 8px 8% 0 8px;
      margin: 0;
      justify-content: flex-start;
    }

    .row-center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #c0c0c0;
      width: 100%;
      margin: 4px 20px;
      padding-top: 8px;
    }

    .hint {
      margin-right: 16px;
      font-size: 14px;
      width: 10%;
    }

    .post-hint {
      margin-left: 16px;
      width: 10%;
    }

    .flow-hint {
      margin-right: 16px;
      font-size: 16px;
      width: 7%;
    }

    .divider {
      margin: 16px 0;
      width: 100%;
      border-top: 1px solid #657172;
    }

    .renderGameHeader {
      color: #b8b8b8;
      font-weight: bold;
      margin-left: 8px;
    }

    .spacer {
      margin: 8px 0;
      width: 100%;
    }

    .input-container {
      display: flex;
      align-items: center;
      width: 40%;
      margin-right: 8px;
      font-size: 16px;
      height: 40px;
      margin-right: 16px;
    }

    .input-container-row {
      @extend .input-container;
      width: 85%;
    }

    .input-container-fill {
      @extend .input-container;
      width: 65%;
    }

    .input-error {
      background-color: #5d2326 !important;
      opacity: 75% !important;
    }

    .tag {
      margin-right: 4px;
      padding: 2px 8px;
      background-color: #1d2326;
      color: #93a4a5;
    }

    .icon-button {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: unset;
      background-color: #e5c746;
      border-radius: 4px;
      width: 32px;
      height: 32px;
      margin-left: -8px;
    }

    .required {
      color: #ee4338;
      margin-left: -30px;
      margin-right: 20px;
      font-size: 25px;
    }

    .full-width {
      width: 100%;
    }

    .country {
      display: flex;
      flex-direction: column;
      min-height: 40px;
      z-index: 1;
    }

    .input {
      display: flex;
      flex: 1;
      height: 100%;
      border: none;
      background-color: #1d2326;
      color: #93a4a5;
      padding: 0 0 0 12px;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
    }

    .add-experience-button {
      @extend .button-icon;
      width: 32px;
      height: 32px;
      margin-left: 32px;
    }

    .remove-experience-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4px;
      width: 100%;

      .remove-experience-button {
        background-color: #ee4338;
        color: black;
        padding: 4px 12px;
        font-size: 12px;
        margin-bottom: 8px;
        border-radius: 4px;
      }
    }

    .save-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
      width: 100%;
      background-color: #1d2326;
      margin-top: auto;

      .save-button {
        background-color: #e5c746;
        padding: 4px 22px;
        margin: 12px;
        border-radius: 2px;
        font-weight: 600;
      }

      .disabled {
        opacity: 40%;
      }
    }
  }

  .button-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: unset;
    background-color: #657172;
    border-radius: 1000px;
  }

  #profile-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 24px;
    width: 100%;
    height: 320px;
    z-index: 2;
    font-family: 'Montserrat Alternates', sans-serif;

    #header {
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: 1;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: -8px;
        position: relative;

        .icon {
          background-color: #2d363a;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          border-radius: 20px;
          width: 40px;
          height: 40px;
          margin-right: 8px;
        }

        .status {
          position: absolute;
          left: 0;
          margin-top: 25px;
          border-radius: 6px;
          width: 12px;
          height: 12px;
        }

        .status-online {
          @extend .status;
          background-color: #68bd45;
        }

        .status-playing {
          @extend .status;
          background-color: #fd323c;
        }

        .status-afk {
          @extend .status;
          background-color: #d8bd43;
        }

        .status-offline {
          @extend .status;
          background-color: #08507d;
        }

        .handle {
          display: flex;
          flex-direction: column;
        }

        .hover-icon {
          background-color: rgba(0, 0, 0, 0.5);
          font-size: 10px;
          position: absolute;
          bottom: 0;
          color: white;
          border-bottom-left-radius: 1000px;
          border-bottom-right-radius: 1000px;
          padding: 4px;
        }

        .alias {
          font-size: 24px;
          font-weight: 1000;
          color: #fff;
        }

        .name {
          font-size: 16px;
          color: #bbb;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;

        #view-friends-modal {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          background-color: rgba(0, 0, 0, 0.8);
          z-index: 999;
          display: flex;
          align-items: center;
          justify-content: center;

          .container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 920px;
            padding: 0;
            margin: 0;
            background-color: #1d2326;
            border-radius: 12px;

            .filter {
              display: flex;
              align-items: center;
              padding: 0 1em;
              width: 100%;
              .input-container-row {
                display: flex;
                align-items: center;
                width: 50%;
                font-size: 16px;
                height: 36px;
                margin: 16px auto 4px auto;
                .input {
                  width: 100%;
                  background: #171a1c 0% 0% no-repeat padding-box;
                  border: none;
                  padding: 12px 12px;
                  border-radius: 25px;
                  outline: none;
                  margin: 0;
                  font: italic normal normal 12px/14px Montserrat;
                  letter-spacing: -0.65px;
                  color: #93a4a5;
                }
                .input::placeholder {
                  color: #1d2326;
                }
              }
            }

            .no-friends {
              display: flex;
              flex-direction: column;
              padding: 8px;
              margin: 8px;
              align-items: center;
              justify-content: center;

              .title {
                font-size: 18px;
                font-weight: 500;
                color: #909090;
                margin: 0;
                padding: 0;
              }

              .subtitle {
                font-size: 16px;
                color: #606060;
                padding: 0;
                margin: 0;
              }
            }

            .friend-list {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              overflow-y: scroll;
              height: 400px;
              background-color: #181a1c;
              margin: 10px;
              padding: 10px;
              border-radius: 10px;

              .friend {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 200px;
                margin: 10px;
                padding: 0;

                .picture-container {
                  position: relative;
                  width: 100%;
                  height: 0;
                }

                .picture {
                  position: absolute;
                  top: -40px;
                  left: 33%;
                  width: 60px;
                  height: 60px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: contain;
                  border-radius: 1000px;
                  z-index: 1;
                }

                .background {
                  width: 100%;
                  height: 50%;
                  background-color: #070808;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                }

                .info {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  height: 50%;
                  padding-top: 16px;
                  background-color: #1d2326;
                }

                .alias {
                  font-size: 16px;
                  font-weight: bold;
                  font-family: 'Montserrat';
                  color: white;
                  margin: 0 0 4px 0;
                  padding: 0;
                }

                .level {
                  font-size: 14px;
                  font-family: 'Montserrat';
                  color: white;
                  margin: 0;
                  padding: 0;
                }

                .add-friend {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  background-color: #e5c746;
                  color: #000000;
                  margin: 8px;
                  padding: 4px 8px;
                  border-radius: 4px;
                  font-size: 12px;
                  font-weight: bold;
                  position: absolute;
                  bottom: -22px;
                }
              }
            }
          }
        }

        .button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align: center;
          letter-spacing: 0px;
          color: #000000;
          background: #e5c746;
          padding: 4px 8px;
          border-radius: 4px;
          height: 24px;
          font-size: 12px;
          margin: 4px;
          border: none;
        }

        .send-message-button {
          @extend .button;
          color: #e5c746;
          background: #000000;
        }

        .send-message-button-icon {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          border-radius: 20px;
          position: relative;
          width: 16px;
          height: 16px;
          margin-right: 6px;
          margin-left: 2px;
        }
      }
    }

    #background {
      display: flex;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      opacity: 0.6;
      height: 320px;
      right: 300px;
      left: 6vw;
    }

    .analytics {
      background: none;
      z-index: 1;
    }
  }

  #profile-info {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #0a0f14;
    border: 1px solid #657172;
    margin: 24px 15%;
    padding: 8px 0 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin: 4px 20px;
    }

    .column {
      display: flex;
      flex-direction: column;
      width: 33.333%;
      overflow-x: scroll;
    }

    .left {
      align-items: flex-start;
    }

    .center {
      align-items: center;
    }

    .right {
      align-items: flex-end;
    }

    .pod {
      display: flex;
      flex-direction: column;
      width: 33%;

      .hover-value {
        position: absolute;
        background-color: #657172;
        padding: 4px 8px;
        border-radius: 4px;
        color: white;
        bottom: 52px;
        left: 8px;
      }

      .title {
        font-size: 11px;
        font-weight: 300;
        color: #657172;
        margin: 0 !important;
        padding: 0 !important;
        white-space: nowrap;
      }

      .value {
        font-size: 16px;
        color: #fff;
        margin: 0 0 8px 0 !important;
        padding: 0 !important;
        white-space: nowrap;
      }
    }

    .settings-button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -14px;
    }

    .settings-button {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: unset;
      background-color: #657172;
      border-radius: 1000px;
      width: 28px;
      height: 28px;
    }
  }

  #profile-dossier {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    font-family: 'Montserrat Alternates', sans-serif;

    .container {
      @extend .base-container;
    }

    .tabs {
      display: flex;
      flex-direction: row;
      background-color: #1d2326;
      padding: 20px 16%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      align-items: center;
      justify-content: space-around;

      .selected {
        border-bottom: 2px solid #e5c845;
      }

      .unselected {
        border-bottom: 2px solid #657172;
      }

      .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        padding: 0;
        margin: 0 0 -20px 0;

        .title {
          font-size: 18px;
          color: #fff;
          font-weight: 600;
          padding: 0;
          margin-bottom: 8px !important;
        }
      }
    }
  }

  #profile-game-experiences {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;

    .onboarding-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      bottom: -24px;
      right: 0;
      left: 0;
    }

    .headers {
      display: flex;
      flex-direction: row;
      margin: 0px 32px;
      padding: 12px;
      font-size: 18px;
      color: white;
      align-items: center;
      justify-content: space-around;

      .header {
        border-bottom: 2px solid #1e2326;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 8px;
        flex: 1;
      }

      .selected {
        border-bottom: 2px solid #e5c746 !important;
      }
    }

    .suggestions-header {
      background-color: #1e2326 !important;
      border-radius: 10px !important;
      border-bottom: none !important;
      border: 1px solid #2d363a !important;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      padding: 12px !important;
      margin: 0px -12px -14px -12px !important;
    }

    .suggestions-scroll {
      border-top: none !important;
      border-top-right-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

    .scroll {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      margin: 0px 32px;
      padding: 8px;
      border: 1px solid #2d363a;
      border-radius: 10px;
      background-color: #181a1c;
    }

    .page-button {
      @extend .button-icon;
      position: absolute;
      top: 45%;
      width: 30px;
      height: 30px;
    }

    .go-left {
      @extend .page-button;
      left: -15px;
    }

    .go-right {
      @extend .page-button;
      right: -15px;
    }

    .game-experience:hover {
      border: none;
      box-shadow: 0 0 0 2px #e5c746;
    }

    .game-experience {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: #1d2326;
      border-radius: 8px;
      margin: 16px;
      padding: 20px 0;
      min-width: 20%;
      min-height: 200px;

      .name {
        font-size: 20px;
        max-width: 200px;
        font-weight: bold;
        color: white;
        text-align: center;
      }

      .image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 80px;
        margin: 10px 0;
      }

      .absolute-top {
        position: absolute;
        top: -10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .icon {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width: 64px;
        height: 64px;
        z-index: 1;
        margin: 8px auto;
        border-radius: 1000px;
      }

      .link {
        position: absolute;
        top: 12px;
        right: 12px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: initial;
        width: 32px;
        height: 32px;
        background-color: #657172;
        border-radius: 1000px;
      }

      .center {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
      }

      .space-right {
        margin-right: 8px !important;
      }

      .field {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 20px;
      }

      .field-title {
        font-size: 12px;
        color: #666;
        text-align: center;
        margin: 0;
        padding: 0;
      }

      .field-value {
        text-align: center;
        font-size: 16px;
        color: white;
        margin-bottom: 4px;
      }

      .hover-box {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 20px 0px -33px 0px;

        .hover-button {
          background-color: #e5c746;
          text-align: center;
          padding: 4px 8px;
          font-size: 12px;
          margin: 0 4px;
          border-radius: 4px;
          font-weight: bold;
        }
      }

      .edit-button {
        text-align: center;
        position: absolute;
        background-color: #e5c746;
        padding: 4px 8px;
        bottom: -16px;
        font-size: 12px;
        left: 33%;
        right: 33%;
        border-radius: 4px;
        font-weight: bold;
      }
    }

    .add-game-experience {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin: 16px;
      padding: 16px;
      border: 1px solid #2d363a;
      border-radius: 8px;
      background-color: #1e2326;

      .icon {
        @extend .button-icon;
        width: 30px;
        height: 30px;
        margin: 4px auto 16px auto;
      }

      .text {
        text-align: center;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }

      .title {
        @extend .text;
        color: #e5c746;
      }

      .subtitle {
        @extend .text;
        color: #fff;
      }
    }
  }

  #profile-edit-game-experience {
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
    font-family: 'Montserrat Alternates', sans-serif;

    .container {
      @extend .base-container;
      display: flex;
      flex-direction: row;

      .left-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #1d2326;
        height: 100%;
        width: 20%;

        .option {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 12px;
          border: 1px solid #2d363a;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
        }

        .selected {
          background-color: #181a1c;
        }

        .disabled {
          opacity: 0.4;
        }

        .icon {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: unset;
          width: 30px;
          height: 30px;
          margin-right: 8px;
        }
      }
    }
  }

  #profile-game-background {
    width: 80%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;

    .add-experience-icon-button {
      @extend .button-icon;
      width: 40px;
      height: 40px;
      display: flex;
      padding: 20px;
      margin: 16px;
    }
  }

  #profile-game-experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid darkslategrey;
    border-radius: 0;
    margin: 0;
  }

  #profile-game-main-info {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;

    .image-uploader {
      background-color: #1d2326;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;

      .upload-preview-image {
        background-color: #2d363a;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 20px;
        width: 190px;
        height: 190px;
        margin-top: -68%;
      }

      .inner-uploader {
        margin-top: 25%;
      }

      .remove-image {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .row {
      padding: 8px 8px 8px 24px;
      background-color: #181a1c;
    }

    .divider {
      margin: 0;
    }

    .input-container-row {
      width: 75%;
    }

    .game-title-select {
      min-width: 60%;
    }
  }

  #profile-social-hub {
    .container {
      @extend .base-container;
    }
  }

  #profile-sponsors {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #1d2326;
    width: 90%;
    margin: 10px 5%;
    padding: 12px 24px;
    border-radius: 8px;

    .vertical-divider {
      background-color: #657172;
      width: 2px;
      margin: 0 16px;
      height: 64px;
    }

    .title {
      margin: 0;
      padding: 0;
      color: #f0f0f0;
      font-weight: 500;
      font-family: 'Montserrat';
    }

    .sponsor {
      display: flex;
      position: relative;
      width: 96px;
      height: 64px;
      margin-right: 1.5rem;
      cursor: pointer;

      .image {
        display: flex;
        flex: 1;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .scroll {
    flex-direction: column;
    text-align: center;
  }
}
