.app-container.home-page .profile-page {
  overflow: hidden;
  // //display: grid;
  // grid-template-columns: 4fr 2fr 2fr 3fr 6fr;
  // grid-template-rows: 4fr 2fr 2fr 3fr 6fr;
  .header-grey-container {
    position: relative;
    width: 99%;
    height: 408px;
    z-index: 1;
    //background: $backgroundContent;
    .top-container {
      .userbackground-img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 360px;
        width: 99%;
        z-index: 2;

        .header-background-uploader {
          position: absolute;
          left: 30px;
          top: 30px;
          color: white;
          border: 1px solid white;
          padding: 8px;
          cursor: pointer;
          display: none;
        }

        &:hover .header-background-uploader {
          display: inline-block;
        }
      }
      .user-img-upload-container {
        position: relative;
        width: 168px;
        height: 168px; //causing bottom container to drop down
        left: 20px;
        top: -120px;
        display: inline-block;

        .user-img {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 48%;
          width: 28%;
          border-radius: 50%;
          position: absolute;
          top: 218px;
          left: 18px;
          border: 5px solid white;
          z-index: 3;
          display: none;
        }

        .user-profile-img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          border: 5px solid white;
        }

        .user-img-upload {
          position: absolute;
          background: #1b1b1bc2;
          height: 82px;
          top: 84px;
          left: 2px;
          width: 164px;
          border-bottom-left-radius: 80px;
          border-bottom-right-radius: 80px;
          text-align: center;
          padding-top: 35px;
          color: white;
          display: none;
          cursor: pointer;
        }

        &:hover .user-img-upload {
          display: block;
        }
      }
    }
    .bottom-container {
      position: absolute;
      .follow_btn {
        width: 220px;
        .follow-btn {
          text-align: center;
          width: 76%; //36
          bottom: 123px;
          left: 208px;
          position: absolute;
          //padding-left: 23px;
          padding-top: 15px;
          padding-bottom: 15px;
          //border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          //background: $primarybuttonBG;
          cursor: pointer;
        }
      }
    }
  }
  .personal-container {
    position: relative;
    width: 99%;
    //height: 188px;
    z-index: 1;

    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    // display: grid;
    // grid-template-columns: 4fr 4fr;
    .info {
      h1 {
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 28px;
        font-size: 2rem;
        //margin: 1rem 0;
      }
      .location {
        display: flex;
        display: inline-flex;
        position: absolute;
        padding-left: 1rem;
        //left: 39rem;
        //top: 13px;
        color: $veryLightText;
        .fa-circle {
          display: flex;
          align-items: center;
          font-size: 12px;
        }
        //font-size: 1rem;
      }
      .alias {
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 1.5rem;
        font-style: italic;
        //margin: 1rem 0;
      }
      .edit_btn {
        position: absolute;
        // display: flex;
        // justify-content:flex-end;
        // width: 50%;
        // left: 560px;
        // position: absolute;
        right: 5px;
        top: 12px;
        // display: flex;
        .fa-pencil-alt {
          margin-right: 30px;
          font-size: 18px;
          color: white;
          border-radius: 50%;
          color: #5f695a;
          cursor: pointer;
        }
      }
      h4 {
        justify-content: center;
        display: flex;
        position: relative;
        top: -28px;
        padding: 10px;
      }
    }
    .table {
      display: grid;
      grid-template-columns: 4fr 4fr;
      padding-bottom: 18px;
      //position: relative;

      .contact-info {
        width: 50%;
      }
      .myBio {
        margin-left: 1rem;
        // display: flex;
        // display: inline-flex;
        //justify-content: flex-end;
        width: 50%;
      }
    }
  }
  .padding-container {
    padding: 18px 15px;
  }
  .game-experience-grey-container {
    width: 99%;
    position: relative;
    //height: 600px;
    z-index: 1;
    background: #151b26;
    padding: 20px;
    border-radius: 5px;

    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);

    h3 {
      color: $veryLightText;
      font-size: 1.4rem;
      margin: 0.5rem;
      display: inline-block;
    }
    .add-gaming-experience {
      position: absolute;
      right: 35px;
      display: flex;
      display: inline-flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      .fa-plus-circle {
        color: white;
        border-radius: 50%;
        background: white;
        color: #5f695a;
        cursor: pointer;
      }
    }
    .icon {
      position: absolute;
      right: 5px;
      display: flex;
      display: inline-flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      color: $veryLightText;
    }
    .game-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 8px;

      .game-name {
        color: $htext;
        font-size: 1.5rem;
        margin: 0.5rem;
        font-weight: bold;
      }

      .game-infos {
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-pen {
          position: absolute;
          right: 5px;
          display: flex;
          display: inline-flex;
          justify-content: flex-end;
          font-size: 1rem;
          color: #2196f3;
          cursor: pointer;
        }
      }
      .game-rating {
        display: flex;
        .stars {
          padding-left: 16px;
          .fa-star {
            color: orange;
          }
        }
      }
      .game-stuff {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        .fa-gamepad {
          align-items: center;
          font-size: 1.5rem;
          color: #2196f3;
          display: flex;
          justify-content: flex-end;
        }
      }
      .game-comments {
        margin: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column: span 2;
        .fa-trophy {
          font-size: 1.5rem;
          color: #f7ca18;
        }
      }
      .game-status {
        display: flex;
        align-items: center;
        margin: 0.5rem;
        .fa-d-and-d {
          align-items: center;
          font-size: 1.5rem;
          color: #f44336;
          display: flex;
          justify-content: flex-end;
        }
      }
      .game-commendation {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .fa-dragon {
          font-size: 1.5rem;
          color: #4caf50;
        }
        .commendation {
          display: flex;
          align-items: center;
          justify-content: center;
          display: inline-block;
        }
      }

      .game-misc {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-column: span 2;
        .fa-broadcast-tower {
          font-size: 1.5rem;
          color: #f44336;
        }
      }
      .tags {
        grid-column: span 2;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: inline-block;
        .tag {
          display: flex;
          align-items: center;
          display: inline-block;
          margin-top: 2px;
          margin-bottom: 2px;

          .btn-green {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #4caf50;
            color: green;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #4caf50;
              color: white;
            }
          }
          .btn-blue {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #2196f3;
            color: dodgerblue;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #2196f3;
              color: white;
            }
          }
          .btn-red {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #f44336;
            color: red;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #f44336;
              color: white;
            }
          }
          .btn-yellow {
            border: 2px solid black;
            background-color: white;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #f7ca18;
            color: gold;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #f7ca18;
              color: white;
            }
          }
        }
      }
      .line-break {
        hr {
          grid-column: span 2;
          width: 100%;
        }
      }
    }
  }

  .esports-bio-grey-container {
    width: 99%;
    position: relative;
    //height: 600px;
    z-index: 1;
    background: #151b26;
    padding: 20px;

    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);

    h3 {
      color: $veryLightText;
      font-size: 1.4rem;
      margin: 0.5rem;
      display: inline-block;
    }
    .esports-bio-ardour {
      margin: 0.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .fa-user-shield {
        font-size: 1.5rem;
        color: #f44336;
      }
    }
    .esports-bio-highlights {
      margin: 0.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .fa-crown {
        font-size: 1.5rem;
        color: #f7ca18;
      }
    }
  }

  .esports-experience-grey-container {
    width: 99%;
    position: relative;
    //height: 600px;
    z-index: 1;
    background: #151b26;
    padding: 20px;
    border-radius: 5px;

    -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);

    h3 {
      color: $veryLightText;
      font-size: 1.4rem;
      margin: 0.5rem;
      display: inline-block;
    }
    .add-esports-experience {
      position: absolute;
      right: 35px;
      display: flex;
      display: inline-flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      .fa-plus-circle {
        color: white;
        border-radius: 50%;
        background: white;
        color: #5f695a;
        cursor: pointer;
      }
    }
    .icon {
      position: absolute;
      right: 5px;
      display: flex;
      display: inline-flex;
      justify-content: flex-end;
      padding: 10px;
      align-items: center;
      cursor: pointer;
      color: $veryLightText;
    }
    .game-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 8px;
      .game-name {
        color: $htext;
        font-size: 1.5rem;
        margin: 0.5rem;
        font-weight: bold;
      }
      .role-title {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        .fa-angle-double-down {
          font-size: 1.5rem;
          color: #f44336;
        }
      }
      .game-infos {
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-pen {
          position: absolute;
          right: 5px;
          display: flex;
          display: inline-flex;
          justify-content: flex-end;
          font-size: 1rem;
          color: #2196f3;
          cursor: pointer;
        }
      }
      .team-name {
        display: flex;
        align-items: center;
        margin: 0.5rem;
        .fa-users {
          font-size: 1.5rem;
          color: #4caf50;
        }
      }
      .game-rating {
        display: flex;
        .stars {
          padding-left: 16px;
          .fa-star {
            color: orange;
          }
        }
      }
      .game-stuff {
        display: flex;
        align-items: center;
        margin: 0.5rem;
        .fa-gamepad {
          align-items: center;
          font-size: 1.5rem;
          color: #2196f3;
          display: flex;
        }
      }
      .game-comments {
        margin: 0.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column: span 2;
        .fa-trophy {
          font-size: 1.5rem;
          color: #f7ca18;
        }
      }
      .game-commendation {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-column: span 2;
        .fa-dragon {
          font-size: 1.5rem;
          color: #4caf50;
        }
        .commendation {
          display: flex;
          align-items: center;
          justify-content: center;
          display: inline-block;
        }
      }

      .game-misc {
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        grid-column: span 2;
        .fa-broadcast-tower {
          font-size: 1.5rem;
          color: #f44336;
        }
      }
      .tags {
        grid-column: span 2;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        display: inline-block;
        .tag {
          display: flex;
          align-items: center;
          display: inline-block;
          margin-top: 2px;

          .btn-green {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #4caf50;
            color: green;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #4caf50;
              color: white;
            }
          }
          .btn-blue {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #2196f3;
            color: dodgerblue;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #2196f3;
              color: white;
            }
          }
          .btn-red {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #f44336;
            color: red;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #f44336;
              color: white;
            }
          }
          .btn-yellow {
            border: 2px solid black;
            background-color: white;
            padding: 12px 12px;
            font-size: 13px;
            border-color: #f7ca18;
            color: gold;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
              background-color: #f7ca18;
              color: white;
            }
          }
        }
      }
      .line-break {
        hr {
          grid-column: span 2;
          width: 100%;
        }
      }
    }
  }
  .ReactModal {
    z-index: 1000;
  }
}
