.app-container.home-page .scheduledGamesApprovals-page{
  overflow: hidden;

  .padding-container{
    padding: 18px 15px;
    justify-content: center;

  }
  .scheduledGamesApprovals-grey-container{
    width: 69%;
    position: relative;
    z-index: 1;
    left: 14.8%;
    background: $backgroundContent;
    border: 1px solid $veryLightText;

    -webkit-box-shadow: 0 21px 48px -21px rgba(59,71,99,0.5);
    -moz-box-shadow: 0 21px 48px -21px rgba(59,71,99,0.5);
    box-shadow: 0 21px 48px -21px rgba(59,71,99,0.5);

    h3{
      margin-left: 1rem;
      color: $veryLightText;
    }
  }

  .scheduledGamesApprovals-info{
    margin-left: 1rem;
    position: relative;

    .user-img{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      border: 5px solid white;
      position: absolute;
      margin-left: 3px;
      align-items: center;
    }

    .user-info{
      position: relative;
      display: inline-block;
      margin-left: 48px;
      top: -17px;
      padding-right: 12px;
    }
    .dota_2_position{
      position: relative;
      display: inline-block;
      top: -17px;
      padding-right: 8px;
    }
    .dota_2_position_one,
    .dota_2_position_one_ticked,
    .dota_2_position_two,
    .dota_2_position_three,
    .dota_2_position_four,
    .dota_2_position_five{
      position: relative;
      display: inline-block;
      padding-right: 1px;
      cursor: pointer;
    }
    .dota_2_position_dummy{
      position: relative;
      display: inline-block;
      padding-right: 1px;
      height: 40px;
      width: 40px;
    }


    .invitiation-options{
      display: inline-block;
      position: absolute;
      right:0;
      top: 10px;

      .invitation-accept{
        display: inline-block;

        color: $veryLightText;
        &:hover{
          cursor: pointer;
          color: black;
        }
      }
      .invitation-deny{
        display: inline-block;
        color: $veryLightText;
        &:hover{
          cursor: pointer;
          color: black;
        }
      }
      .invitation-accepted{
        display: inline-block;
        color: green;
      }
      .invitation-denied{
        display: inline-block;
        color: red;
      }
    }
    .line-break{
      margin: 18px 0 18px 0;
    }
    .last-row{
      margin: 18px 0 18px 0;
    }
  }
}
