#teams {
  .team-content {
    display: flex;
    flex-direction: row;
    padding: 12px;
  }

  .team-column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 8px;
    margin-left: 4px;
  }

  .team-input-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 16px;
    justify-content: center;
  }

  .team-section-header {
    margin: 16px 16px 0 16px !important;
  }

  .team-checkbox {
    margin: 0 16px !important;
    font-size: 14px;
  }

  .team-game-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
  }

  .team-label {
    font-weight: bold;
    font-size: 16px;
    min-width: 16px;
    margin-bottom: 4px;
  }

  .team-bar {
    font-size: 18px;
    font-family: 'Montserrat' !important;
    font-weight: bold;
    text-align: center;
    color: #fafafa;
    background-color: #1d2326;
    padding: 16px;
    width: 100%;
  }

  .team-top-bar {
    @extend .team-bar;
    border-bottom: 2px solid #344953;
  }

  .team-bottom-bar {
    @extend .team-bar;
    border-top: 2px solid #344953;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}


@media screen and (max-width: 575px) {
  #teams {
    .myg-sideline {
      display: none;
    }
    .team-top-bar {
      padding-top: 86px;
    }
    .team-content {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .team-column {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-left: 0;
      margin-left: 0;
    }
  }
}
