.tooltip-component {
  position: relative !important;
  width: 0 !important;
  height: 0 !important;
  .container {
    position: absolute !important;
    background-color: #253338 !important;
    padding: 12px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    z-index: 1 !important;
    font-size: 12px !important;
    color: #e0e0e0 !important;
    width: max-content !important;
    border-radius: 2px !important;
  }
}
