.login-container.welcome-page {
  .container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-round {
    width: 430px;
    background-color: #1d2326;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
  }
  .button {
    display: flex;
    line-height: 42px;
    margin-bottom: 22px;
    border-radius: 8px;
    text-decoration: none;
  }
  .google-btn {
    background-color: #2a84fc;
    color: #fff;
  }
  .steam-btn {
    background-color: #111214;
    color: #fff;
    text-align: center;
  }
  .facebook-btn {
    background-color: #3f5da6;
    color: #fff;
  }
  .discord-btn {
    background-color: #5b6bc0;
    color: #fff;
    text-align: center;
  }
  .sso-text {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .seats-header {
    font-size: 23px;
    text-align: center;
    color: #fff;
  }
  .registration-desc {
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-top: 18px;
    margin-bottom: 40px;
  }
  .registration-disclaimer {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
  }
  .seats-desc {
    font-size: 18px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-seats {
    background-color: #171a1c;
    padding: 10px;
    border-radius: 8px;
    margin-right: 6px;
  }
  .logo-on-card {
    position: relative;
    top: 15px;
    height: 90px;
    width: 90px;
  }
  .logo-container {
    position: absolute;
    left: 0;
    top: 0;
  }
  .sso-logo {
    position: relative;
    top: 9px;
    left: 10px;
  }
  .register-message {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
  }
  .extra-seats-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-top: 12px;
  }
  .extra-seats-code-hint {
    margin-bottom: 8px;
    text-align: center;
  }
  .extra-seats-code-input {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
  }
  .extra-seats-code-button {
    background-color: #e7bb30;
    margin: 8px auto 0 auto;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    color: #0a0a0a;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* For desktop: */
  [class*='col-'] {
    width: 430px;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .col-3 {
      width: 78%;
    }
  }
}
