
<!DOCTYPE html>
    <html lang="en">
    <head>

    <title>myG Gamer's code</title>



    <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/p/com.linkedin.croft%3Acroft-static-content%2B1.11.258.1/f/%2Fcroft-frontend%2Fstylesheets%2Fmain_en_US.css">


    <link rel="stylesheet" href="https://static-exp1.licdn.com/sc/p/com.linkedin.croft%3Acroft-static-content%2B1.11.258.1/f/%2Fcroft-frontend%2Fstylesheets%2Fthemes%2Fprofessional-community-policies%2Findex_en_US.css">

      </head>
      <body dir="ltr">

    </div>

      <div id="lithograph-app">

    <section id="component-container" data-attach-collapse-behavior="true">


      <div id="theme-banner-card" class="component component-banner component-banner--banner">




    <div class="banner banner--v3 banner--article-width banner--light-background banner--left" data-banner>
    <a title="myG Logo" target="_blank" rel="noopener noreferrer" href="https://myG.gg">
  <img alt="myG Logo" width="300px" src="https://mygame-media.s3.amazonaws.com/platform_images/Login+Screen/Card_Logo.svg" /> </a>

      <div class="banner__headline-container">
        <div class="banner__position">
<!----><!---->              <h2 class="banner__headline t-32">
                myG is here to set the bar for epic gaming conduct.
              </h2>
<!---->
              <p class="banner__subheadline t-24">
                This is a community where we treat each other with respect and help each other succeed.
              </p>
<!----><!----><!---->
          <div class="banner__button-container">
<!----><!---->          </div>
        </div>
      </div>
    </div>
<!----><!---->
      </div>
      <div id="theme-list-cards" class="component component-list component-list--list0">




      <ul class="list list--article-width list--none">
          <li id="be-safe-card" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <h3>Play safe</h3>
 <p>Be calm and respectful in every single interaction.</p>
 <p><a href="#be-safe-policy" target="_self" rel="noopener nofollow" data-tracking-control-name="_anchor_link"><strong>Learn more</strong></a></p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="be-trustworthy-card" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <h3>Be a decent gamer</h3>
 <p>Sexism is a huge problem in the gaming community that gamers are not treated as equal.</p>
 <p><a href="#be-trustworthy-policy" target="_self" rel="noopener nofollow" data-tracking-control-name="_anchor_link"><strong>Learn more</strong></a></p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="be-professional-card" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <h3>Have fun</h3>
 <p>Keep content professionally relevant and on topic.</p>
 <p><a href="#be-professional-policy" target="_self" rel="noopener nofollow" data-tracking-control-name="_anchor_link"><strong>Learn more</strong></a></p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
      </ul>

<!----><!---->
      </div>
      <div id="intro-headline" class="component component-articleHeadline component-articleHeadline--articleHeadline">




    <div class="article-headline-container">
<!---->      <h1 class="article-headline t-40">myG Gamer's code</h1>
      <div class="article-meta t-14 false">
        <div class="article-meta__byline-container">
<!---->        </div>
<!---->      </div>
    </div>

<!----><!---->
      </div>
      <div id="intro" class="component component-richText component-richText--richText">




    <div class="rich-text"><div data-global-paragraph-value="p3">
 <p>Thank you for using myG, engineered to enhance your gaming experience. The content that you contribute to myG should be respectful and meant to contribute to the myG community in a constructive manner. Together we can make our community a place where everyone is compassionate, and honest, which, in turn, creates a better environment for everyone.</p>
 <p>These codes continually evolve to ensure our gamers have play safe, are decent gamers, and continue to have fun on myG.</p>
</div></div>
<!----><!---->
      </div>
      <div id="theme-list-callouts" class="component component-list component-list--list">




      <ul class="list list--article-width list--none">
          <li id="tell-us" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <h3>Tell us if you see something unsafe, untrustworthy, or disrespectful</h3>
 <p>If you see something you believe may violate our policies, whether in profiles, posts, messages, comments, or anywhere else, please report it to us. Combined with our automated defenses, these reports help us identify and prevent abuse and misbehavior. Please use the reporting tools responsibly and only for their intended purposes.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="violating" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">



    <div class="rich-text"><div data-global-paragraph-value="p2">
 <h3>Violating our community policies can result in action against your account or content</h3>
 <p>These policies apply to all members. Depending on the severity of violation, we may limit the visibility of certain content or remove it entirely. Repeated or severe offenses can result in a temporary or permanent restriction from myG.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
      </ul>

<!----><!---->
      </div>
      <div id="theme-list-policy-details" class="component component-list component-list--list1">




      <ul class="list list--article-width list--none">
          <li id="be-safe-policy" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


    <div class="rich-text"><div data-global-paragraph-value="p3">
 <h2>Play safe</h2>
 <p>We require every member to be civil and respectful as they engage on myG.</p>
</div></div>
<!----><!---->

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <p><strong>Do not be hateful:</strong> We don’t allow content that attacks, denigrates, intimidates, dehumanises, incites or threatens hatred, violence, prejudicial or discriminatory action against individuals or groups because of their actual or perceived race, ethnicity, national origin, caste, gender, gender identity, sexual orientation, religious affiliation, or disability status. Hate groups are not permitted on myG. Do not use racial, religious, or other slurs that incite or promote hatred, or any other content intended to create division.&nbsp;</p>
 <p><strong>Do not engage in unwanted advances:</strong> We don’t allow unwanted expressions of attraction, desire, requests for a romantic relationship, marriage proposals, sexual advances or innuendo, or lewd remarks. Do not use myG to provide sexual commentary on someone’s appearance.</p>
 <p><strong>Do not harass or bully:</strong> We don’t allow bullying or harassment. This includes abusive language, revealing others’ personal or sensitive information (aka “doxing”), or inciting or engaging others to do any of the same.</p>
 <p><strong>Do not threaten, incite, or promote violence:</strong> We don’t allow threatening or inciting violence of any kind. We don’t allow individuals or groups that engage in or promote violence, property damage, or organised criminal activity. You may not use myG to express support for such individuals or groups or to otherwise glorify violence.</p>
 <p><strong>Do not share harmful or shocking material:</strong> We don't allow content that is excessively gruesome or shocking. This includes content that is sadistic or gratuitously graphic, such as the depiction of severe physical violence. We don’t allow content or activities that promote, organise, depict, or facilitate criminal activity. We also don’t allow content depicting or promoting instructional weapon making, drug abuse, and threats of theft.&nbsp;Do not engage in or promote non-consensual sexually explicit content (e.g., revenge porn), escort services, prostitution, exploitation of children, or human trafficking. Do not share content or activities that promote or encourage suicide or any type of self-injury, including self-mutilation and eating disorders. If you see signs that someone may be considering self-harm, please report it.</p>
 <p><strong>Do not post terrorist content or promote terrorism:</strong> We don’t allow any terrorist organisations or violent extremist groups on our platform. And we don’t allow any individuals who affiliate with such organisations or groups to promote their activities. Content that depicts terrorist activity, that is intended to recruit for terrorist organisations, or threatens, promotes, or supports terrorism in any manner is not tolerated.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="be-trustworthy-policy" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

    <div class="rich-text"><div data-global-paragraph-value="p3">
 <h2>Be a decent gamer</h2>
 <p>We require you to bring the best versions of yourself when using myG. Sexism is a huge problem in the gaming community that gamers are not treated as equal. We are all gamers regardless of our gender.</p>
</div></div>
<!----><!---->

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <p><strong>Do not be salty:</strong> Please respect people and don't be salty and ruin the entire game for everyone. Examples of being salty are kicking gamers for no apparent reasons such as gender, sexual orientation, race etc. Kick gamers because they play like shit. Examples of this are hacking, trolling, or throwing and losing purposely. Also, do not talk shit to other players just because you are having a bad day, or want to bring stress out on a game. Have a sense of consideration for all players!</p>
 <p><strong>Thou shall not dox:</strong> Doxing, or doxxing, is the internet-based practice of researching and publicly broadcasting private or identifying information (especially personally identifying information) about an individual or organisation. Doxing is a major issue on the internet especially with creeps who want to find out your personal information and to find out where you live. This could be very dangerous. Please report this behaviour.</p>
 <p><strong>Support each other</strong>: See no evil, hear no evil and speak no evil. It takes alot of courage to speak up. If you see others not being decent gamers speak up. Or just lend an ear. Listening is a very powerful skill. Sometimes, they need another person to listen and say, "hey, that's not ok." Even if what happened feels minor in comparison to the abuse experienced by others, don't write off their experience as insignificant.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="be-professional-policy" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


    <div class="rich-text"><div data-global-paragraph-value="p3">
 <h2>Have fun</h2>
 <p>We require content to be gaming relevant and on topic, such as sharing and gaining expertise; finding gamers and getting found; teaching and acquiring new skills; and engaging in actions that allow you and others to be more productive and successful.</p>
</div></div>
<!----><!---->

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <p>Do not share content containing sexually explicit material or language (some adult content may be allowed if the intent is clearly educational, medical, scientific, or artistic, and it’s not gratuitously graphic).</p>
 <p>Do not interact with others or share content in a way that’s irrelevant, inappropriate, disrespectful, or otherwise inflammatory.</p>
 <p>Do not share junk mail, spam, chain letters, phishing schemes, or any other scams are also prohibited.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="respect-others-rights-policy" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


    <div class="rich-text"><div data-global-paragraph-value="p3">
 <h2>Respect others’ rights and follow the law</h2>
 <p>Before sharing or using someone else's copyrighted works, trademarks, private information, or trade secrets, make sure you have the legal right to do so. myG should not be used for illegal activities, promoting illegal products, or violating the rights of others. Don't use it to commit fraud or to try to trick others, or to intentionally distribute viruses, worms, or other software that can destroy or interrupt others' data or computer devices.</p>
</div></div>
<!----><!---->

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->




    <div class="rich-text"><div data-global-paragraph-value="p2">
 <p><strong>Respect others' privacy:</strong> You may not solicit email addresses or other personal information from myG members you don't know without authorisation; use, disclose or distribute on myG any data obtained in violation of any of our policies or agreements; disclose information that you don’t have the right to disclose (such as personal or confidential information of others); or post or distribute content depicting children without the necessary consent from their legal guardian or parent. Don’t use others' names, alias, likenesses, or photos to suggest an endorsement of a product, service, or investment without their prior consent.</p>
 <p><strong>Comply with the law:</strong> You must comply with all applicable laws, including, for example, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements. Do not use myG to create or operate a pyramid scheme, engage in fraud, or to sell or promote illegal products, including drugs.</p>
 <p><strong>Respect the intellectual property of others and do not violate the intellectual property rights of others:</strong> We respect the intellectual property rights of others. Do not violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets, or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content of others without their permission, which they may give by posting under a Creative Commons license.</p>
</div></div>
<!----><!---->

      </div>

<!---->

<!---->
          </li>
          <li id="respect-linkedins-rights-policy" class="list__item  t-16px" data-component-reorder="false" data-component-list-container="false">


      <div class="component component-media" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">


<!---->



      <div class="component component-richText" tabindex="-1" data-parent-path data-node-path data-component="false" data-component-name data-component-type data-is-nested-in-container="false" data-collapse-container="false" data-collapse-target="false" data-nested-component="false">

      </div>

          </li>
      </ul>

<!----><!---->
      </div>
<!---->


    </section>
      </div>

        </main>
      </body>
    </html>
