// Add Community CSS

.locked-create-community {
  display: flex;
  height: 60vh;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 23em;
  margin: auto;
  font: 14px Montserrat;
  letter-spacing: 0px;
  color: #fff;
  .img-locked {
    margin-bottom: 8px;
  }
  p {
    display: flex;
    justify-content: center;
    padding: 2px;
  }
  span {
    padding: 2px;
  }
}

.rectangle {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 0 2px #e6c846;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .img-network {
    padding-right: 10px;
  }
  a {
    color: #e6c846;
    text-decoration: none;
  }
  a:hover {
    color: #e6c846;
    text-decoration: none;
  }
}

.tab-heading {
  font-size: 16px;
  padding: 0 28px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.field-title {
  color: #fff;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 20px;
  font-size: 14px;
}

.community-main-settings-content,
.community-advance-settings-content {
  margin-right: 30px;
  margin-top: 30px;
  width: 100%;
  .game-title-select {
    font-size: 13px;
    width: 100%;
    @media screen and (min-width: 575px) {
      width: 70%;
    }
    .css-1uccc91-singleValue {
      color: #fff;
    }
  }
}

.date-picker-select,
.friend-name-select,
.experience-select,
.platform-select,
.community-description-text-area,
.media__container {
  font-size: 13px;
  width: 100%;
  @media screen and (min-width: 575px) {
    width: 70%;
  }
  .css-1uccc91-singleValue {
    color: #fff;
  }
}

.game-title-select input {
  outline: none;
  margin: 0 !important;
  width: 100% !important;
}

.time-text-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.circle {
  height: 6px;
  width: 6px;
  background-color: #484848;
  margin: 0 10px;
  border-radius: 50%;
}

.text-end-time,
.text-set-to-repeat {
  color: #e5c746;
  font-weight: bold;
  cursor: pointer;
}

.number-of-games-container span,
.comments-privacy-container span {
  color: #fff;
  font-size: 12px;
  font-weight: 500 !important;
}

.add-game {
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
  }
  &__main-container {
    margin: 10px;
    border: none;
    display: flex;
    flex: 1;
    scrollbar-width: none;
    @media screen and (min-width: 575px) {
      margin: 40px;
    }
  }
  &__field-title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  &__menu-container {
    display: flex;
  }
  &__menu-text {
    font-size: 20px;
    padding: 0 32px;
    cursor: pointer;
  }
  &__menu-text-selected {
    color: #fff;
  }
  &__menu_line {
    margin-top: 8px;
    height: 2px;
    background-color: #6f6f6f;
    width: 100%;
  }
  &__menu_line_highlighted {
    background-color: #e6c846;
  }
  &__optional-main-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__optional-end-container {
    display: flex;
    align-items: center;
  }
  &__optional-text {
    color: #e5c746;
    font-weight: bold;
    cursor: pointer;
  }
  &__optional-circle {
    height: 6px;
    width: 6px;
    background-color: #484848;
    margin: 0 10px;
  }
  &__footer-container {
    height: 79px;
    width: 100%;
    background-color: #1d2326;
    line-height: 77px;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    border: 0.1px solid #344953;
    justify-content: flex-end;
  }
  &__footer-cancel-button {
    color: #fff;
    background: #0b0f14 0% 0% no-repeat padding-box;
    padding: 0 22px;
    border-radius: 6px;
    height: 41px;
    line-height: 41px;
    margin: 0 20px;
    cursor: pointer;
    border: 2px solid #fff;
    margin-left: auto;
  }
  &__footer-delete-button {
    color: #fff;
    background: #993833 0% 0% no-repeat padding-box;
    padding: 0 22px;
    border-radius: 6px;
    height: 41px;
    line-height: 41px;
    margin: 0 20px;
    cursor: pointer;
  }
  &__footer-submit-button {
    color: #000;
    background-color: #e5c746;
    padding: 0 22px;
    border-radius: 6px;
    height: 41px;
    line-height: 41px;
    margin: 0 20px;
    cursor: pointer;
  }
  &__footer-submit-button-light {
    opacity: 40%;
  }
  &__main-view-container {
    flex: 1;
  }
  &__optional-view-container {
    height: min-content;
    border: 1px solid #707070;
    border-radius: 18px;
    // overflow: scroll;
  }
  &__optional-header-container {
    text-align: center;
    font-weight: bold;
    padding: 17px;
    background-color: #1d2326;
    border-radius: 18px 18px 0 0;
  }
  &__optional-view-fields {
    padding: 0 17px;
    padding-bottom: 17px;
    padding-top: 114px;
  }
  &__listed {
    &__header {
      font-weight: bold;
      font-size: 21px;
      color: #fff;
    }
    &__share-text {
      color: #fff;
      font-size: 11.5px;
      margin-top: 22px;
      margin-bottom: 12px;
      font-weight: bold;
    }
    &__or-text {
      color: #fff;
      margin: 22px 0;
    }
    &__top-content-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 22px 76px;
    }
    &__bottom-content-container {
      display: flex;
      flex-direction: row-reverse;
      padding: 13px 0;
      background-color: #1d2326;
    }
  }
  &__side-ball {
    margin-top: 37px;
    height: 10px;
    width: 10px;
    background-color: #e6c846;
    margin-right: 12px;
  }
  &__side-line {
    width: 2px;
    background-color: #344953;
    flex: 1;
    margin-left: 4px;
  }
  &__side-line-container {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 575px) {
    &__main-container {
      flex-direction: column;
    }
  }
}

.rc-slider {
  width: 400px !important;
}

.comment-section {
  padding-top: 5px;
}

// Community Box Style

.community-cards {
  padding: 20px;
}

.community-card-box {
  background: #171a1c;
  text-align: center;
  border: 1px solid #273137;
  border-radius: 8px;
  margin-bottom: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  min-height: 90%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

.community__search {
  text-align: center;
  background: #171a1c;
  border-radius: 50px;
  width: 38%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  @media screen and (max-width: 575px) {
    width: 90%;
  }
}

.community__search_container {
  border-top: 1px solid #273137;
  padding-top: 20px;
}

.community__search input {
  border-radius: 50px;
  color: #93a4a5;
  padding: 15px;
  border: none;
  outline: none;
  background: transparent;
}

.community__search input:focus {
  border-radius: 50px;
  color: #93a4a5;
  padding: 15px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none !important;
  margin: 0;
  font-size: 16px;
  font-weight: 100;
}

.community__search img {
  background: #2d363a;
  padding: 11px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.community-card-box .community-title {
  color: #fff;
  text-transform: uppercase;
}

.community-card-box .suggested-community-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 10px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.community-img {
  img {
    background: 0% 0% no-repeat padding-box;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: fit-content;
    max-height: fit-content;
    min-width: 20%;
    min-height: 125px;
  }
}

.community-card-box hr {
  border-top: 1px solid #384952;
  width: 30%;
}

.arrow__right {
  position: absolute;
  top: 50%;
  right: -15px;
  cursor: pointer;
}

.arrow__left {
  position: absolute;
  transform: rotate(180deg);
  top: 50%;
  left: -15px;
  cursor: pointer;
}

.community-card-box .members {
  color: #fff;
}

.community-card-box .members h2 {
  font-size: 24px;
  margin: 0;
}

.community-card-box .btn-show button {
  background: #e5c746;
  color: #000;
  font-weight: 700;
  border: none;
  padding: 5px 15px;
}

.community-card-box .btn-show {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

.community-card-box span {
  font-size: 14px;
}

.community-card-box .community-title p {
  font-weight: bold;
  font-size: 12px;
}

.suggested-community-text p {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

.suggested-community-text hr {
  border-top: 1px solid #384952;
  width: 30%;
}
.suggested-community-text {
  padding: 15px;
}

.community-images-container {
  text-align: center;
}

.files__preview {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 320px;
  border: 2px dashed #666666;
  .image {
    position: relative;
    width: 100%;
    height: 100%;
  }
  img {
    background: 0% 0% no-repeat padding-box;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .remove__image {
    position: absolute;
    top: 5px;
    right: 6px;
    cursor: pointer;
    color: #fff;
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropzone-section {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dzu-dropzone {
  border-color: rgb(39, 49, 55) !important;
  border-radius: 4px !important;
}

.text {
  text-align: center;
  font-size: 15px;
}

.text span {
  color: #e5c746 !important;
}

.media__container {
  background: rgb(39, 49, 55);
  border: none !important;
  .dropzone-thumb {
    position: relative;
    width: 200px;
    min-height: 200px;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    cursor: pointer;
  }
}

.media__container div {
  width: 100% !important;
}

.video-btn {
  padding-left: 7px;
}

.hash-tags {
  margin-top: 15px;
}

.create-community-popup-link:focus {
  margin-bottom: 0px !important;
  font-weight: 500 !important;
}

.invite-gamers-tab {
  color: #fff;
}

// .game-title-select > div,
// .game-title-select > div > div,
// .description-text-area div,
// .experience-select > div > div {
//   width: 100% !important;
// }

.community-flexBox {
  display: flex;
  flex: 1 0 0%;
}

.community-card-box .btn-show button:focus {
  outline: none;
  display: initial;
  font-size: 16px;
  margin-bottom: 0px;
}
