@function random_element($elements...) {
  @return nth($elements, random(length($elements)));
}
.viewGame__container {
  min-width: 100%;
  background: #0b0f14 0% 0% no-repeat padding-box;

  .viewGame__header {
    height: 77px;
    background: #1d2326 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #344953;
    .title {
      padding: 0;
      font: Bold 20px/14px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
    }
    .search__results {
      margin-left: auto;
      letter-spacing: 0px;
      color: #657172;
      opacity: 1;
      font-size: 18px/16px Montserrat;
      margin-right: 20px;
      input {
        padding: 0px;
        border: none;
        background: #1d2326;
        font-size: 15px;
        outline: none;
        margin: 0;
        letter-spacing: 0px;
        color: #657172;
        height: 18px;
      }
    }
  }
  .viewGame__filter {
    margin: 20px;
    border-left: 2px solid #344953;
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    &::before {
      content: '';
      width: 7px;
      height: 7px;
      background: #e6c846 0% 0% no-repeat padding-box;
      opacity: 1;
      position: absolute;
      top: 0;
      left: -4px;
    }
    .filter__label {
      text-align: left;
      font: 20px/14px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
    .viewGame__label {
      text-align: left;
      font: 16px/12px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin-bottom: 10px;
    }
    .viewGame__filter-section {
      padding: 20px 0;
      display: flex;
      padding-bottom: 0;
      flex-wrap: wrap;
      .viewGame__gameName {
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .viewGame__name__input {
        width: 400px;
        height: 38px;
        margin: 0;
        background-color: #4d565a;
        border: none;
        padding: 0;
        height: 38px;
        color: #fff;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        &::placeholder {
          color: #fff;
        }
      }
      .viewGame__name {
        width: 450px;
        height: 38px;
        margin: 0;
        &:focus {
          margin: 0;
        }

        .css-bg1rzq-control,
        .css-1szy77t-control {
          background-color: #4d565a;
          border: none;
          padding: 0;
          height: 38px;
        }
        .css-bgvzuu-indicatorSeparator {
          background: none;
        }
        .css-1hwfws3 {
          padding: 2px;
          padding-left: 10px;
          .css-151xaom-placeholder {
            color: #ffffff;
          }
          .css-1g6gooi {
            margin: 0;
            padding: 2px;
            color: #ffffff;
          }
          .css-dvua67-singleValue {
            color: #ffffff;
          }
          .css-16pqwjk-indicatorContainer {
            color: #ffffff;
          }
        }

        .filter {
          &__menu {
            top: 50px;
            background-color: #4d565a;
            color: #ffffff;
            border-radius: 4px;
            margin-bottom: 8px;
            margin-top: 8px;
            position: absolute;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
          }

          &__option {
            background-color: #0b0f14;
            color: inherit;
            cursor: pointer;
            display: block;
            font-size: inherit;
            padding: 8px 12px;
            width: 100%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;
            &:hover {
              background-color: rgba(0, 0, 0, 0);
              color: #0b0f14;
            }

            &--is-focused {
              background-color: #e5c746 !important;
              color: #0b0f14;
            }
          }

          &__group {
            padding: 0;
          }
        }
      }
      .saveFilterAction__section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5px;
        position: relative;
        .saveFilter__button {
          width: 116px;
          height: 30px;
          background: #e5c746 0% 0% no-repeat padding-box;
          border-radius: 8px;
          font: Bold 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          box-shadow: none;
          outline: none;
          border: none;
          cursor: pointer;
          margin: 0;
        }
        .clearFilter {
          width: 38px;
          height: 18px;
          text-align: left;
          font: Bold 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          cursor: pointer;
          margin: 0;
          margin-left: 10px;
        }
        .saveFilterInput__container {
          display: flex;
          width: 577px;
          height: 82px;
          background: #171a1c 0% 0% no-repeat padding-box;
          border: 1px solid #384952;
          padding: 16px 10px 10px 10px;
          position: absolute;
          top: 60px;
          left: 0;
          border-radius: 6px;
          z-index: 1001;
          align-items: center;
          .input__label {
            font: 12px/14px Montserrat;
            font-weight: bold;
            letter-spacing: 0px;
            color: #ffffff;
            margin-bottom: 10px;
          }
          input {
            width: 450px;
            height: 35px;
            background: #2d363a 0% 0% no-repeat padding-box;
            border: 1px solid #273137;
            opacity: 1;
            font-style: italic;
            font: 12px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            margin: 0;
          }
          .filter__save_button {
            width: 62px;
            height: 27px;
            background: #e5c746 0% 0% no-repeat padding-box;
            border-radius: 8px;
            font: 12px/14px Montserrat;
            font-weight: bold;
            letter-spacing: 0px;
            color: #000000;
            cursor: pointer;
            border: none;
            padding: 8px;
            margin: 0;
            outline: none;
            position: relative;
            left: 10px;
            top: 12px;
            &:disabled,
            &[disabled] {
              opacity: 0.6;
              cursor: not-allowed !important;
            }
          }
          .filterInput__close {
            font: 20px/18px Montserrat;
            font-weight: bold;
            position: absolute;
            right: 5px;
            top: 5px;
            color: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .viewGame__addMoreFilter {
    display: flex;
    justify-content: start;
    align-items: baseline;
    padding: 20px 40px;
    .savedFilter__option,
    .addFilter__option {
      width: 120px;
      height: 30px;
      font: Bold 14px/14px Montserrat;
      letter-spacing: 0px;
      color: #e5c746;
      position: relative;
      display: flex;
      align-items: baseline;
      .filter__header {
        color: inherit;
        font: Bold 14px/14px Montserrat;
        letter-spacing: 0px;
        cursor: pointer;
        margin-right: 10px;
      }
      .filterType__group {
        position: absolute;
        top: 20px;
        width: 182px;
        height: 178px;
        background: #171a1c 0% 0% no-repeat padding-box;
        border: 1px solid #384952;
        opacity: 1;
        border-radius: 4px;
        z-index: 2;
        .filterType__head {
          width: 182px;
          height: 31px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-bottom: 1px solid #384952;
          border-radius: 4px 4px 0px 0px;
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font: 12px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
          font-weight: bold;
        }
        .filterType__body {
          width: 182px;
          min-height: 178px;
          background: #171a1c 0% 0% no-repeat padding-box;
          border: 1px solid #384952;
          opacity: 1;
          .filterType__name {
            text-align: left;
            font: 12px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            div {
              font: inherit;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            &:hover,
            &.selected {
              background: #4d565a;
            }
            &:hover {
              .editFilter,
              .deleteFilter {
                display: block;
              }
            }
            position: relative;
            .filter__Input,
            .filter__Input:focus {
              height: 27px;
              width: 100%;
              background: #1d2326;
              border: none;
              color: #fff;
              outline: none;
              font-size: 12px;
              margin: 0;
            }
            .editFilter {
              position: absolute;
              top: 8px;
              right: 30px;
              width: 14px;
              height: 14px;
              display: none;
            }
            .deleteFilter {
              display: none;
              position: absolute;
              top: 8px;
              right: 10px;
              width: 14px;
              height: 14px;
            }
          }
        }
      }
    }
    .addFilter__option {
      margin-left: 12px;
    }
    .filter_dot {
      width: 8px;
      height: 8px;
      background: #484848 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 50%;
    }
  }

  .gameList__section {
    display: flex;
    border-top: 1px solid #384952;
    align-items: flex-start;
    justify-content: center;
    .gameDetails {
      flex: 1;
      justify-content: flex-start;
      display: flex;
      min-height: 570px;
      flex-direction: column;
      border-bottom: 1px solid #384952;
      position: relative;
      .gameDetails__header {
        display: flex;
        max-height: 92px;
        border-bottom: 2px solid #a09770;
        width: 100%;
        padding: 16px 24px 16px 24px;
        align-items: flex-start;
        .gameName {
          flex: auto;
          .game__name {
            font: 20px/14px Montserrat;
            font-weight: bold;
            letter-spacing: 0px;
            color: #ffffff;
            margin-bottom: 15px;
          }
          .gamer__count,
          .game__timestamp {
            display: inline-flex;
            font: 12px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: 400;
            margin-right: 5px;
            vertical-align: super;
            img {
              width: 15px;
              height: 15px;
              margin-right: 5px;
            }
          }
          .game__level__wrap {
            display: flex;
            flex-direction: row;
            .game__level {
              max-width: 100px;
              height: 27px;
              border: 1px solid #d6b9ff;
              border-radius: 23px;
              font: 14px/14px Montserrat;
              letter-spacing: 0px;
              color: #b9b9b9;
              padding: 6px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: inline-block;
              margin-bottom: 10px;
            }
          }
        }
        .game__action__buttton {
          position: relative;
          top: 10px;
          button {
            width: 84px;
            height: 39px;
            background: #e5c746 0% 0% no-repeat padding-box;
            border-radius: 8px;
            font: 16px/14px Montserrat;
            letter-spacing: 0px;
            font-weight: bold;
            color: #000000;
            border: none;
            cursor: pointer;
            outline: none;
            margin: 0;
          }
          .leaveGame__button {
            width: 84px;
            height: 39px;
            background: #171a1c 0% 0% no-repeat padding-box;
            border: 1px solid #384952;
            position: absolute;
            bottom: -39px;
            left: 0;
            font: 10px/12px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: bold;
          }
        }
      }
      .gameDetails__body {
        margin: 24px 24px 0 24px;
        border-left: 2px solid #344953;
        position: relative;
        padding: 0 0 0 20px;
        padding-bottom: 0;
        margin-bottom: 40px;
        &::before {
          content: '';
          width: 7px;
          height: 7px;
          background: #e6c846 0% 0% no-repeat padding-box;
          opacity: 1;
          position: absolute;
          top: 0;
          left: -4px;
        }
        .filter__label {
          font: 16px/14px Montserrat;
          font-weight: 400;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameDescription {
          font: 16px/14px Montserrat;
          letter-spacing: 0px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameDescription__body {
          font: 14px/14px Montserrat;
          letter-spacing: 0px;
          font-weight: 400;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameTime__label {
          font: 16px/14px Montserrat;
          letter-spacing: 0px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameTime__value {
          font: 14px/14px Montserrat;
          letter-spacing: 0px;
          font-weight: 400;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameTags__label {
          font: 16px/14px Montserrat;
          letter-spacing: 0px;
          font-weight: bold;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          margin-bottom: 20px;
        }
        .gameTags__value {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px;
          .singleTags {
            margin: 0 5px 5px 0;
            max-width: 70px;
            height: 24px;
            border: 1px solid #d6b9ff;
            border-radius: 23px;
            font: 12px/12px Montserrat;
            letter-spacing: 0px;
            color: #b9b9b9;
            padding: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .gamer__wraper {
          display: inline-flex;
          align-items: center;
          margin-bottom: 10px;
          .single__gamer {
            display: inline-flex;
            align-items: center;
            margin-right: 20px;
          }
          .gamer__image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
            img {
              width: 100%;
              border-radius: 50%;
            }
          }
          .gamer__alias {
            font: 10px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: 500;
            max-width: 45px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .View__AllGamers {
            font: 10px/14px Montserrat;
            letter-spacing: 0px;
            color: #e5c746;
            font-weight: 400;
            cursor: pointer;
          }
        }
      }
      .gameDetaiils__footer {
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 4px;
        padding: 24px 36px 36px 24px;
        display: flex;
        margin-top: auto;
        flex-direction: column;

        .view__all__comments {
          font: Bold 12px/14px Montserrat;
          letter-spacing: 0px;
          color: #e5c746;
          margin-bottom: 20px;
          cursor: pointer;
        }
        .game__comment {
          background: #2d363a 0% 0% no-repeat padding-box;
          padding: 9px 13px;
          margin-left: 70px;
          position: relative;
          min-height: 50px;
          span {
            font: 12px/18px Montserrat;
            letter-spacing: 0px;
            color: #b9b9b9;
          }
          .author {
            font: 12px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: bold;
            margin-right: 5px;
          }
          .arrow {
            width: 0px;
            height: 0px;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 30px solid #2d363a;
            position: absolute;
            top: 10px;
            left: -30px;
          }
          .profile__image {
            position: absolute;
            left: -50px;
            top: 10px;
            background: #ff00ff;
            width: 37px;
            height: 37px;
            border-radius: 50%;
            z-index: 2;
          }
        }
      }
    }
    .gameList {
      flex: 1;
      border-right: 1px solid #384952;
      padding: 20px;
      .gameList_head__option {
        display: flex;
        height: 40px;
        width: 100%;
        .gameResult__count,
        .gameResult__fillView {
          flex: 1;
          justify-content: flex-start;
          display: flex;
          font: 20px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
        }
        .gameResult__fillView {
          justify-content: flex-end;
          font: 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
        }
      }
      .gameList__box {
        position: relative;
        .mygames {
          display: flex;
          justify-content: start;
          min-height: 163px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-radius: 4px;
          opacity: 1;
          width: 100%;
          margin-bottom: 10px;
          position: relative;
          &.active {
            background: #ffffff0d;
            &::after {
              border-bottom: 2px solid #a09770;
              content: '';
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 100%;
            }
          }
          &:hover {
            background: #ffffff0d;
            .copy__clipboard {
              opacity: 1;
            }
            &::after {
              border-bottom: 2px solid #a09770;
              content: '';
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 100%;
            }
          }
          .gameImage {
            width: 120px;
            $num-colors: 1000;
            border-radius: 4px 0px 0px 4px;
            .image {
              width: 120px;
              height: 163px;
            }
            .default-image {
              top: 50%;
              position: relative;
              margin-top: -37px;
              height: 75px;
              margin-left: 8px;
            }
          }
          &:nth-of-type(4n) {
            .gameImage {
              background-color: #8d7514;
            }
          }

          &:nth-of-type(4n + 1) {
            .gameImage {
              background-color: #652a2a;
            }
          }

          &:nth-of-type(4n + 2) {
            .gameImage {
              background-color: #2a2a65;
            }
          }

          &:nth-of-type(4n + 3) {
            .gameImage {
              background-color: #568842;
            }
          }
          .game__attributes {
            padding: 15px;
            width: 100%;
            &:hover {
              .copy__clipboard {
                opacity: 1;
              }
            }
            .first__row {
              display: flex;
              margin-bottom: 10px;
              .game__name {
                flex: auto;
                font: Bold 20px/14px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 200px;
                margin-top: 10px;
                cursor: pointer;
              }
              .game__playerList {
                flex: auto;
                justify-content: flex-end;
                display: flex;
                align-items: center;
                img {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  background: #fff;
                }
                .playerName {
                  text-align: left;
                  font: SemiBold 10px/14px Montserrat;
                  letter-spacing: 0px;
                  color: #ffffff;
                  margin-left: 5px;
                }
              }
            }
            .second__row {
              display: flex;
              justify-content: flex-start;
              height: 30px;
              .gamer__count,
              .game__timestamp {
                display: flex;
                font: 12px/14px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                img {
                  width: 15px;
                  height: 15px;
                  margin-right: 5px;
                }
              }
              .game__timestamp {
                margin-left: 10px;
              }
            }
            .copy__clipboard {
              display: flex;
              justify-content: flex-end;
              margin-bottom: 30px;
              transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
              opacity: 0;
              .copy__clipboard__action {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                background: #696969 0% 0% no-repeat padding-box;
                box-shadow: 0px 5px 6px #00000027;
                opacity: 1;
                padding: 8px;
                cursor: pointer;
                img {
                  width: 18px;
                  height: 18px;
                }
              }
            }
            .third__row {
              display: flex;
              .game__tags {
                flex: auto;
                flex: auto;
                flex-wrap: wrap;
                margin-right: auto;
                .game__tag {
                  max-width: 90px;
                  height: 24px;
                  border: 1px solid #b9b9b9;
                  border-radius: 4px;
                  font: 14px/14px Montserrat;
                  letter-spacing: 0px;
                  color: #b9b9b9;
                  padding: 4px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin: 0 5px 5px 0;
                }
              }
              .game__level__wrap {
                display: flex;
                .game__level {
                  max-width: 100px;
                  height: 27px;
                  border: 1px solid #d6b9ff;
                  border-radius: 23px;
                  font: 14px/14px Montserrat;
                  letter-spacing: 0px;
                  color: #b9b9b9;
                  padding: 6px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  margin-bottom: 10px;
                  margin-left: 5px;
                  &.game__level_Professional {
                    color: #ffd9b9;
                    border: 1px solid #ffd9b9;
                  }
                  &.game__level_Semi {
                    color: #d6b9ff;
                    border: 1px solid #d6b9ff;
                  }
                  &.game__level_Casual {
                    color: #9dceff;
                    border: 1px solid #9dceff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .singleGameView__container,
  .GameView__container {
    width: 659px;
    margin: 0 auto;
    margin-top: 55px;
    border: none;
    .gameDetails {
      background: #171a1c;
      .gameDetails__header {
        background: #1d2326;
        max-height: 108px !important;
        .game__level__wrap {
          flex-direction: row !important;
          .game__level {
            margin-right: 5px;
            &.game__level_Professional {
              color: #ffd9b9;
              border: 1px solid #ffd9b9;
            }
            &.game__level_Semi {
              color: #d6b9ff;
              border: 1px solid #d6b9ff;
            }
            &.game__level_Casual {
              color: #9dceff;
              border: 1px solid #9dceff;
            }
          }
        }
      }
      .show-individual-comments {
        padding-left: 100px;
        padding-right: 50px;
        margin-bottom: 30px;
        .individual-comment-container {
          .comment__shape {
            width: 0px;
            height: 0px;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
            border-right: 30px solid #1d2326;
            position: absolute;
            top: 0;
            left: -20px;
          }
          .comment__section {
            position: relative;
            background: #1d2326;
            clear: both;
            .edit__comment__input {
              input {
                position: relative;
                height: 40px;
                width: 100%;
                border: 1px solid #273136;
                border-radius: 4px;
                background: #f0f1f2 0% 0% no-repeat padding-box;
                resize: none;
                overflow: auto;
                color: #657172;
                font-size: 12px;
                padding: 8px 20px;
              }
            }
            .comment-info {
              display: flex;
              padding: 20px;
              a {
                font-size: 16px;
                margin-right: 10px;
                font-weight: bold;
              }
              .comment-content {
                color: #93a4a5;
                font-size: 12px;
                width: 100%;

                .show__comment__image {
                  max-width: 400px;
                  height: 270px;
                  margin-top: 10px;
                  min-width: 240px;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
            .comment-options {
              position: absolute;
              right: -25px;
              top: 50%;
              transform: translateY(-50%);
              font-size: 12px;
            }
            .dropdown {
              position: absolute;
              top: 100%;
              right: -50px;
              transform: translateY(-50%);
              font-size: 12px;
              z-index: 10;
              color: #ffffff;
              background: #1d2326;
              transition: all 0.6s ease-in-out;
              visibility: hidden;
              opacity: 0;
              cursor: pointer;

              &.active {
                visibility: visible;
                opacity: 1;
              }
              .edit {
                font-size: 10px;
                padding: 4px;
              }
              .delete {
                font-size: 10px;
                padding: 4px;
              }
            }
            .profile__image {
              position: absolute;
              left: -50px;
              top: 2px;
              background: #ff00ff;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              .online__status {
                border: 7px solid #68bd45;
                border-radius: 50%;
                position: absolute;
                bottom: 0px;
                left: 0px;
              }
            }
          }
          .reply__comment_section {
            clear: both;
            overflow: auto;
            padding: 10px;
            margin-bottom: 10px;
            .comment-panel-like,
            .comment-panel-liked,
            .no-likes {
              margin-right: 15px;
              float: right;
              font-size: 12px;
            }
            .comment-panel-liked {
              padding-left: 15px;
            }
            .comment-panel-reply {
              float: right;
              font-size: 12px;
              padding-left: 15px;
              border-left: 1px solid #384952;
            }
            .divider {
              margin-left: 10px;
              margin-right: 10px;
            }
          }

          .comment-panel {
            margin-left: 20px;
            width: 90%;
            display: flex;
            margin-left: auto;
            flex-direction: column;
            .show__moreReply {
              background: #171a1c;
              padding: 5px 5px 5px 0px;
              font-size: 10px;
              color: #93a4a5;
              position: relative;
              display: -ms-flexbox;
              display: flex;
              border-top: 1px solid #4d565a;
              border-bottom: 1px solid #4d565a;
              cursor: pointer;
              margin-bottom: 10px;
            }
            .individual-comment-container {
              width: 100%;
            }
            .reply-panel {
              width: 100%;
            }
            .add-reply {
              position: relative;
              box-shadow: none;
              border: none;
              input {
                width: 100%;
                // background: #1d2326 0% 0% no-repeat padding-box;
                background: #2d363a 0% 0% no-repeat padding-box;
                color: #657172;
                padding: 10px;
                border: none;
                margin-bottom: 10px;
                border-radius: 11px;
              }
              .insert__images {
                position: absolute;
                right: -10px;
                top: 4px;
                z-index: 2;
                cursor: pointer;
                input {
                  display: none;
                }
                img {
                  padding-right: 18px;
                  height: 25px;
                }
              }
              .uploadImage_loading {
                position: relative;
                top: 23px;
                width: 90%;
                font-size: 12px;
                margin-left: 40px;
              }
              .preview__image {
                position: relative;
                top: 0px;
                height: 80px;
                border: 1px solid;
                width: 90%;
                padding: 5px;
                img {
                  width: 120px;
                  height: 100%;
                }
                .clear__preview__image {
                  position: absolute;
                  right: 4px;
                  top: 4px;
                  font-size: 10px;
                  cursor: pointer;
                  z-index: 5;
                }
              }
            }
          }
        }
      }

      .gameComments__header {
        padding: 16px 40px;
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 2px solid #a09770;
        background: #1d2326;
        .game__name {
          font: 20px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .compose__comment__wrapper {
      background: #1d2326 0% 0% no-repeat padding-box;
      padding: 16px;
      margin-top: auto;
      display: flex;
      flex-direction: column;
      .compose-comment {
        display: flex;
        justify-content: center;
        position: relative;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        margin-top: auto;
        textarea {
          position: relative;
          z-index: 2;
          border: none;
          height: 40px;
          width: 100%;
          background: #2d363a 0% 0% no-repeat padding-box;
          border: 1px solid #273136;
          border-radius: 4px;
          resize: none;
          overflow: auto;
          color: #657172;
          font-size: 12px;
          padding: 8px 20px;
        }
        .insert__images {
          position: absolute;
          right: 5px;
          z-index: 2;
          width: 27px;
          height: 27px;
          cursor: pointer;
          input {
            display: none;
          }
          img {
            padding-right: 18px;
            height: 27px;
          }
        }
        .profile__image {
          position: absolute;
          left: -20px;
          background: #ff00ff;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          z-index: 12;
          top: 6px;
          .online__status {
            border: 7px solid #68bd45;
            border-radius: 50%;
            position: absolute;
            bottom: 0px;
            left: 0px;
          }
        }
        .buttons {
          display: flex;
          .repost-btn {
            height: 40px;
            width: 40px;
            background: 1d2326;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-left: 20px;
            cursor: pointer;
          }
        }
      }
      .preview__image {
        position: relative;
        top: 5px;
        height: 80px;
        margin-left: 30px;
        border: 1px solid;
        width: 90%;
        padding: 5px;
        img {
          width: 120px;
          height: 100%;
        }
        .clear__preview__image {
          position: absolute;
          right: 4px;
          top: 4px;
          font-size: 10px;
          cursor: pointer;
          z-index: 5;
        }
      }
    }
    .gamer__count,
    .game__timestamp {
      margin-right: 30px !important;
    }
    .gameTags__value {
      .singleTags {
        max-width: 100px !important;
        margin: 0 10px 10px 0 !important;
      }
    }
  }
  .GameView__container {
    width: 100%;
    border-top: 1px solid #384952;
    margin: 0;
  }
  .filter__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .View__AllGamers__modal {
    z-index: 9999;
    background: none;
    .modal-wrap {
      border: 1px solid #273137;
      border-radius: 4px;
      opacity: 1;
      z-index: 2;
      position: relative;
      background: #171a1c 0% 0% no-repeat padding-box;
      height: 512px;
      .modal__header {
        background: #1d2326 0% 0% no-repeat padding-box;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .modal__close {
          width: 32px;
          height: 32px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-radius: 50%;
          position: absolute;
          right: -15px;
          top: -15px;
          cursor: pointer;
        }
      }
      .modal__body {
        background: #171a1c 0% 0% no-repeat padding-box;
        height: auto;
        .people_group_list_box_header {
          background: #1d2326 0% 0% no-repeat padding-box;
          height: 60px;
          display: flex;
          padding: 20px 0;
          .box_header_name {
            font: Medium 16px/22px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            flex: 1;
            font-weight: 400;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            padding: 0px 22px;
          }
        }
        .people_group_list_box {
          height: 370px;
          overflow: scroll;
          transition: 1s all ease;
          .list__item {
            display: flex;
            align-items: center;
            padding: 10px 0px 10px 18px;
            margin-right: 10px;
            .default_circle {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: #ff00ff;
              margin-right: 10px;
              img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
              }
            }
            .gamer__name {
              font: Bold 18px/22px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              flex: 2;
              display: flex;
              align-items: center;
            }
            .other__title {
              font: 14px/18px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              flex: 1;
              display: flex;
              justify-content: center;
              .position {
                border: 1px solid #ffffff;
                border-radius: 4px;
                padding: 4px 10px;
              }
              .level__value {
                font: 28px/18px Montserrat;
                margin-left: 6px;
              }
            }
          }
        }
      }
      .modal__footer {
        height: 90px;
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 10px 10px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 93px;
          height: 39px;
          background: #e5c746 0% 0% no-repeat padding-box;
          border-radius: 8px;
          opacity: 1;
          font: Bold 16px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
        }
      }
    }
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(14px);
      z-index: 1;
    }
  }
  .View__JoinBUtton__modal {
    z-index: 9999;
    background: none;
    .modal-wrap {
      border: 1px solid #273137;
      border-radius: 4px;
      opacity: 1;
      z-index: 2;
      position: relative;
      background: #171a1c 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      .modal__body {
        background: #171a1c 0% 0% no-repeat padding-box;
        height: 555px;
        position: relative;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        .body__content {
          display: flex;
          justify-content: center;
          width: 324px;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 48px;
          h1 {
            font: 28px/14px Montserrat;
            letter-spacing: 0px;
            color: #ffffff;
            font-weight: bold;
            border-bottom: 2px solid #e6c846;
            height: 34px;
            margin-bottom: 40px;
            text-align: center;
          }
          p {
            color: #ffffff;
            opacity: 1;
            font: 16px/18px Montserrat;
            font-weight: 300;
            margin-bottom: 30px;
          }
          .game__values {
            margin-bottom: 22px;
          }
          .viewGame__name__input {
            width: 324px;
            height: 38px;
            margin: 0;
            background-color: #4d565a;
            border: none;
            padding: 0;
            height: 38px;
            color: #fff;
            padding: 10px;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 22px;
            &::placeholder {
              color: #fff;
            }
          }

          .game__values {
            margin: 0;
            &:focus {
              margin: 0;
            }

            .css-bg1rzq-control,
            .css-1szy77t-control {
              background-color: #4d565a;
              border: none;
              padding: 0;
              height: 38px;
              margin-bottom: 22px;
            }
            .css-bgvzuu-indicatorSeparator {
              background: none;
            }
            .css-1hwfws3 {
              padding: 2px;
              padding-left: 10px;
              .css-151xaom-placeholder {
                color: #ffffff;
              }
              .css-1g6gooi {
                margin: 0;
                padding: 2px;
                color: #ffffff;
              }
              .css-dvua67-singleValue {
                color: #ffffff;
              }
              .css-16pqwjk-indicatorContainer {
                color: #ffffff;
              }
            }

            .filter {
              &__menu {
                top: 50px;
                background-color: #4d565a;
                color: #ffffff;
                border-radius: 4px;
                margin-bottom: 8px;
                margin-top: 8px;
                position: absolute;
                width: 100%;
                z-index: 1;
                box-sizing: border-box;
              }

              &__option {
                background-color: #0b0f14;
                color: inherit;
                cursor: pointer;
                display: block;
                font-size: inherit;
                padding: 8px 12px;
                width: 100%;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                box-sizing: border-box;
                &:hover {
                  background-color: rgba(0, 0, 0, 0);
                  color: #0b0f14;
                }

                &--is-focused {
                  background-color: #e5c746 !important;
                  color: #0b0f14;
                }
              }

              &__group {
                padding: 0;
              }
            }
          }
        }

        .modal__close {
          width: 32px;
          height: 32px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-radius: 50%;
          position: absolute;
          right: -15px;
          top: -15px;
          cursor: pointer;
        }
      }
      .modal__footer {
        height: 90px;
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 10px 10px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        button {
          width: 93px;
          height: 39px;
          background: #e5c746 0% 0% no-repeat padding-box;
          border-radius: 8px;
          opacity: 1;
          font: Bold 16px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          border: none;
          margin: 0;
        }
      }
    }
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(14px);
      z-index: 1;
    }
  }
  .noRecordFound__wraper {
    background: #171a1c;
    padding: 40px;
    height: 100vh;
    .noRecordFound__header {
      font: 24px/18px Montserrat;
      font-weight: bold;
      letter-spacing: 0px;
      color: #ffffff;
      margin-bottom: 30px;
      .noRecordFound__body {
        font: 18px/16px Montserrat;
        font-weight: 400;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        margin-bottom: 20px;
        a {
          color: #e5c746;
          cursor: pointer;
        }
      }
    }
  }
}

$height: 15 / 16 * 1em;
$width: 35 / 16 * 1em;
$color-silver: #ffe98b;
$color-peter-river: #ffe98b;
$color-carrot: #ffe98b;
$transition-default: 0.25s ease-out 0.1s;
.button-switch {
  font-size: 1.5em;
  height: $height;
  position: relative;
  width: $width;
  margin-left: 10px;
  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: -2px;
    width: 0;

    &:before,
    &:after {
      content: '';
      font-size: 1em;
      position: absolute;
    }

    &:before {
      border-radius: 20 / 16 * 1em;
      background: #e5c746;
      height: $height;
      left: 4 / 16 * -1em;
      top: 3 / 16 * -1em;
      transition: background-color $transition-default;
      width: $width;
    }

    &:after {
      border-radius: 50%;
      background: #1d2326;
      height: 14 / 18 * 1em;
      transform: translate(0, 0);
      transition: transform $transition-default;
      width: 14 / 18 * 1em;
      top: -2px;
      left: -2px;
    }

    &:checked {
      &:after {
        transform: translate(20 / 18 * 1em, 0);
      }
    }
  }
}
