@function random_game_bg() {
  $result: #ff0000, #00ff00, #0000ff, #ff3333, #ffff00, #ff6600;
  @return nth($result, random(length($result)));
}

.viewGame__container {
  min-width: 100%;
  background: #0b0f14 0% 0% no-repeat padding-box;
  .viewGame__header {
    height: 77px;
    background: #1d2326 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #344953;
    .title {
      margin-left: auto;
      padding: 0;
      font: Bold 20px/14px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
    }
    .search__results {
      margin-left: auto;
      letter-spacing: 0px;
      color: #657172;
      opacity: 1;
      font-size: 18px/16px Montserrat;
      margin-right: 20px;
      input {
        padding: 0px;
        border: none;
        background: #1d2326;
        font-size: 15px;
        outline: none;
        margin: 0;
        letter-spacing: 0px;
        color: #657172;
        height: 18px;
      }
    }
  }
  .viewGame__filter {
    margin: 20px;
    border-left: 2px solid #344953;
    position: relative;
    padding: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    &::before {
      content: '';
      width: 7px;
      height: 7px;
      background: #e6c846 0% 0% no-repeat padding-box;
      opacity: 1;
      position: absolute;
      top: 0;
      left: -4px;
    }
    .filter__label {
      text-align: left;
      font: 20px/14px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }
    .viewGame__label {
      text-align: left;
      font: 16px/12px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin-bottom: 10px;
    }
    .viewGame__filter-section {
      padding: 20px 0;
      display: flex;
      padding-bottom: 0;
      .viewGame__name {
        width: 450px;
        height: 38px;
        margin: 0;
        &:focus {
          margin: 0;
        }

        .css-bg1rzq-control,
        .css-1szy77t-control {
          background-color: #4d565a;
          border: none;
          padding: 0;
          height: 38px;
        }
        .css-bgvzuu-indicatorSeparator {
          background: none;
        }
        .css-1hwfws3 {
          padding: 2px;
          .css-151xaom-placeholder {
            color: #ffffff;
          }
          .css-1g6gooi {
            margin: 0;
            padding: 2px;
            color: #ffffff;
          }
          .css-dvua67-singleValue {
            color: #ffffff;
          }
          .css-16pqwjk-indicatorContainer {
            color: #ffffff;
          }
        }
        .css-kj6f9i-menu {
          top: 50px;
          background-color: #4d565a;
          color: #ffffff;
          border-radius: 4px;
          margin-bottom: 8px;
          margin-top: 8px;
          position: absolute;
          width: 100%;
          z-index: 1;
          box-sizing: border-box;
        }
        .css-dpec0i-option {
          background-color: #000000;
          color: inherit;
          cursor: default;
          display: block;
          font-size: inherit;
          padding: 8px 12px;
          width: 100%;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          box-sizing: border-box;
          &:hover {
            background-color: rgba(0, 0, 0, 0);
            color: #ffffff;
          }
        }
      }
      .saveFilterAction__section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 10px;
        margin-left: 10px;
        .saveFilter__button {
          width: 116px;
          height: 30px;
          background: #e5c746 0% 0% no-repeat padding-box;
          border-radius: 8px;
          font: Bold 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          box-shadow: none;
          outline: none;
          border: none;
          cursor: pointer;
          margin: 0;
        }
        .clearFilter {
          width: 38px;
          height: 18px;
          text-align: left;
          font: Bold 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
          opacity: 1;
          cursor: pointer;
          margin: 0;
          margin-left: 10px;
        }
      }
    }
  }
  .viewGame__addMoreFilter {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 20px 40px;
    .savedFilter__option,
    .addFilter__option {
      width: 120px;
      height: 30px;
      font: Bold 14px/14px Montserrat;
      letter-spacing: 0px;
      color: #e5c746;
      .filter__header {
        color: inherit;
        font: Bold 14px/14px Montserrat;
        letter-spacing: 0px;
        cursor: pointer;
      }
    }
    .addFilter__option {
      margin-left: 10px;
    }
  }
  .gameList__section {
    display: flex;
    border-top: 1px solid #384952;
    align-items: center;
    justify-content: center;
    .gameDetails {
      flex: 1;
      justify-content: flex-start;
      display: flex;
      border-right: 1px solid #384952;
      min-height: 400px;
      padding: 20px;
    }
    .gameList {
      flex: 1;
      border-right: 1px solid #384952;
      min-height: 400px;
      padding: 20px;
      .gameList_head__option {
        display: flex;
        height: 40px;
        width: 100%;
        .gameResult__count,
        .gameResult__fillView {
          flex: 1;
          justify-content: flex-start;
          display: flex;
          font: 20px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
        }
        .gameResult__fillView {
          justify-content: flex-end;
          font: 14px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
        }
      }
      .gameList__box {
        position: relative;
        .mygames {
          display: flex;
          justify-content: start;
          height: 163px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-radius: 4px;
          opacity: 1;
          width: 100%;
          margin-bottom: 10px;
          &.active {
            &::after {
              border-bottom: 2px solid #a09770;
              content: '';
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 100%;
            }
          }
          .gameImage {
            width: 120px;
            $num-colors: 1000;
            border-radius: 4px 0px 0px 4px;
            background-color: random_game_bg();
            img {
              width: 120px;
              height: 163 px;
            }
          }
          .game__attributes {
            padding: 15px;
            width: 100%;
            .first__row {
              display: flex;
              margin-bottom: 10px;
              .game__name {
                flex: auto;
                font: Bold 20px/14px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 200px;
                justify-content: left;
                align-items: center;
                display: flex;
              }
              .game__playerList {
                flex: auto;
                justify-content: flex-end;
                display: flex;
                align-items: center;
                img {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  background: #fff;
                }
                .playerName {
                  text-align: left;
                  font: SemiBold 10px/14px Montserrat;
                  letter-spacing: 0px;
                  color: #ffffff;
                  margin-left: 5px;
                }
              }
            }
            .second__row {
              display: flex;
              justify-content: flex-start;
              height: 70px;
              .gamer__count,
              .game__timestamp {
                display: flex;
                font: 12px/14px Montserrat;
                letter-spacing: 0px;
                color: #ffffff;
                img {
                  width: 15px;
                  height: 15px;
                  margin-right: 5px;
                }
              }
              .game__timestamp {
                margin-left: 10px;
              }
            }
            .third__row {
              display: flex;
              .game__tags {
                flex: auto;
                .game__tag {
                  max-width: 90px;
                  height: 24px;
                  border: 1px solid #b9b9b9;
                  border-radius: 4px;
                  font: 14px/14px Montserrat;
                  letter-spacing: 0px;
                  color: #b9b9b9;
                  padding: 4px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
              }
              .game__level {
                max-width: 90px;
                height: 27px;
                border: 1px solid #d6b9ff;
                border-radius: 23px;
                font: 14px/14px Montserrat;
                letter-spacing: 0px;
                color: #b9b9b9;
                padding: 6px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
