$textfield: #f3f3f3;
$backgroundContent: white;
$backgroundContent2: #f6f6f6;
$red: #ff3658;
$darksideBlue: #0178ff;
$lightsideBlue: #32aeff;
$ptext: #797979;
$htext: #3c3c3c;
$white: #ffffff;
$border: #ebebeb;
$searchBG: #1e88f4;
$searchInputBG: #0472e3;
$veryLightText: #a1a5ac;
$boxshadowbtns: 0 2px 15px -3px #bfbfbf;
$cursive: 'Sofadi One', cursive;
$sans-serif: 'Roboto', sans-serif;
$title-font: 'Montserrat Alternates', sans-serif;
$primarybuttonBG: linear-gradient(135deg, rgba(183, 222, 237, 1) 0%, rgba(33, 180, 226, 1) 9%, rgba(183, 222, 237, 1) 100%);
$primarybuttonBG: #151b26;
$myG-black: #3c3c3c;

// Device break points
$mobile: 350px;
$tablet: 575px;
$desktop: 1200px;
