$textfield: #F3F3F3;
$backgroundContent: white;
$backgroundContent2: #F6F6F6;
$red: #FF3658;
$darksideBlue: #0178FF;
$lightsideBlue: #32AEFF;
$ptext: #797979;
$htext: #3C3C3C;
$border: #EBEBEB;
$searchBG: #1E88F4;
$searchInputBG: #0472E3;
$veryLightText:#a1a5ac;
$boxshadowbtns: 0 2px 15px -3px #bfbfbf;
$cursive: 'Sofadi One', cursive;
$sans-serif: 'Roboto', sans-serif;
$title-font: 'Montserrat Alternates', sans-serif;
$primarybuttonBG: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 9%, rgba(183,222,237,1) 100%);
$primarybuttonBG: #151b26;
$myG-black: #3C3C3C;
