// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,500i,700|Sofadi+One');
// @import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Montserrat:700,600,500,400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import '../../../node_modules/react-image-gallery/styles/scss/image-gallery';
@import 'reset';
@import 'variables';
@import 'pages/welcome';
@import 'pages/home';
@import 'pages/profileV2';
@import 'pages/achievements';
@import 'pages/findGamers';
@import 'pages/inviteGamer';
@import 'pages/notificationsMenu';
@import 'pages/popup';
@import 'pages/tooltip';
@import 'pages/dropdown';
@import 'pages/chat';
@import 'pages/chatMessenger';
@import 'pages/chatLink';
@import 'pages/chatMessage';
@import 'pages/chatOptions';
@import 'pages/chatGroupCreation';
@import 'pages/chatGroupOptions';
@import 'pages/chatGroupMembers';
@import 'pages/chatGroupLinks';
@import 'pages/chatUnreadMessages';
@import 'pages/modal';
@import 'auth/auth';
@import 'pages/analytics';
@import 'scheduledGames/scheduleGames';
@import 'communityView/communityView';
@import 'pages/reportPost';
@import 'pages/onboarding';
@import 'pages/_modalPortal';
* {
  box-sizing: border-box;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100vh;
  background: #23272a;
}

.login-body {
  font-family: Montserrat;
}

.login-container {
  display: flex;
  flex: 1;
}

body,
h1,
h2,
h3,
h4 {
  color: #d5dce0;
}

p {
  margin: 0 !important;
}

b {
  font-weight: 800;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

#app {
  width: 100%;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background: $backgroundContent2;
  overflow: hidden;
  margin: 0 auto;
}

.input-common {
  background-color: #171a1c;
  color: #434c50;
  font-size: 12px;
  padding: 14px;
  font-weight: bold;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 16px;
}

.button-common {
  width: 100%;
  color: #2d363a;
  background-color: #e7bb30;
  height: 54px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 10px;
  font-family: Montserrat;
  border-width: 0;
  cursor: pointer;
}

.persist-password {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}

.persist-password-checkbox {
  margin-right: 8px;
}

.default-form {
  .error-box {
    display: none;
    background: $red;
    color: white;
    padding: 15px;
    margin-bottom: 1rem;

    &.active {
      display: block;
    }
  }
  .form-group {
    & > .error {
      border: 1px solid red;
    }
    cursor: pointer;
  }
  // button {
  //   cursor: pointer;
  //   width: 100%;
  //   min-width: 200px;
  //   font-size: 1.2rem;
  //   font-weight: 300;
  //   border-radius: 14px;
  //   padding: 10px 0;
  //   color: white;
  //   background: rgba(183, 222, 237, 1);
  //   background: -moz-linear-gradient(
  //     -45deg,
  //     rgba(183, 222, 237, 1) 0%,
  //     rgba(33, 180, 226, 1) 9%,
  //     rgba(183, 222, 237, 1) 100%
  //   );
  //   background: -webkit-gradient(
  //     left top,
  //     right bottom,
  //     color-stop(0%, rgba(183, 222, 237, 1)),
  //     color-stop(9%, rgba(33, 180, 226, 1)),
  //     color-stop(100%, rgba(183, 222, 237, 1))
  //   );
  //   background: -webkit-linear-gradient(
  //     -45deg,
  //     rgba(183, 222, 237, 1) 0%,
  //     rgba(33, 180, 226, 1) 9%,
  //     rgba(183, 222, 237, 1) 100%
  //   );
  //   background: -o-linear-gradient(
  //     -45deg,
  //     rgba(183, 222, 237, 1) 0%,
  //     rgba(33, 180, 226, 1) 9%,
  //     rgba(183, 222, 237, 1) 100%
  //   );
  //   background: -ms-linear-gradient(
  //     -45deg,
  //     rgba(183, 222, 237, 1) 0%,
  //     rgba(33, 180, 226, 1) 9%,
  //     rgba(183, 222, 237, 1) 100%
  //   );
  //   background: linear-gradient(
  //     135deg,
  //     rgba(183, 222, 237, 1) 0%,
  //     rgba(33, 180, 226, 1) 9%,
  //     rgba(183, 222, 237, 1) 100%
  //   );
  // }
}
.toast-container {
  font-size: 12px !important;
}
.dark-toast {
  background: $myG-black !important;
}

.clickable {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:active {
    opacity: 0.3;
  }
}
.gray-scaled {
  filter: grayscale(1);
}
::-webkit-scrollbar {
  width: 0;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background: #0b0f14;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  div {
    font: Medium 14px/14px Montserrat;
    border: 0;
    border-bottom: 1px solid #384952;
    padding: 10px 40px;
    padding-bottom: 15px;
    width: 20%;
    text-align: center;
    cursor: pointer;
    transition: position 1s ease-out;
    &:hover {
      border-bottom: 1px solid #e5c746;
    }
    &.active {
      border-bottom: 1px solid #e5c746;
    }
  }
}

.timeline-item {
  background-color: #1d2326;
  border: 1px solid;
  border-color: #1d2326 #1d2326 #1d2326;
  border-radius: 3px;
  padding: 12px;
  margin: 0 100px;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.animated-background {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeHolderShimmer;
  background: linear-gradient(to right, #4d565a 8%, #4d565a 18%, #a0a5a7 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #1d2326;
  position: absolute;
}

/* Every thing below this is just positioning */

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #171a1c;
  text-align: center;
  font-family: Montserrat;
}

.error-container > h1 {
  color: #e5c746;
}

.rate-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .rating-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    filter: hue-rotate(45deg);
  }

  .rating-indicator {
    font-size: 16px;
    font-family: Montserrat;
  }

  .slider {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    border-bottom: 1px solid #384952;

    .rating-container {
      width: 30px;
      height: 20px;
      margin-bottom: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rating {
      width: 16px;
      height: 16px;
      border-radius: 1000px;
      background-color: #384952;
    }

    .rating:hover {
      width: 16px;
      height: 16px;
      border-radius: 1000px;
      background-color: #e5c746;
    }

    .selected {
      background-color: #b59716 !important;
    }
  }
}
.game-title-select {
  .filter__control {
    background: #2d363a;
    border: none;
    padding: 0;
  }

  .filter__placeholder {
    color: #fff;
  }
  .css-26l3qy-menu {
    background-color: #e5c746 !important;
    border: 1px solid #e5c746;
    padding: 0 !important;
    z-index: 11;

    & > * {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
    }
  }

  .filter {
    background-color: #0b0f14;
    z-index: 11;
    &__input {
      color: #fff;
    }
    &__single-value {
      color: #fff;
      img {
        max-width: 40px;
      }
      z-index: 11;
    }
    &__menu {
      top: 50px;
      background-color: #4d565a;
      color: #fff;
      border-radius: 4px;
      margin-bottom: 8px;
      margin-top: 8px;
      position: absolute;
      width: 100%;
      z-index: 1;
      box-sizing: border-box;
      background-color: #0b0f14;
      border: 1px solid #e5c746;
      .css-1ouli63-MenuList {
        background-color: #0b0f14;
        border: 1px solid #e5c746;
        padding: 0;
        img {
          max-width: 100px;
        }
      }
      padding: 0;
      z-index: 11;
    }

    &__multi-value {
      background-color: #0b0f14;
      color: #fff;
      border: 1px solid;
    }
    &__multi-value__label {
      color: #fff;
    }

    &__option {
      background-color: #0b0f14;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: inherit;
      padding: 8px 12px;
      width: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-sizing: border-box;
      img {
        max-width: 40px;
      }
      &:hover {
        background-color: #e5c746 !important;
        color: #0b0f14;
      }
      &:active {
        background-color: #e5c746 !important;
      }
      &--is-focused {
        background-color: #e5c746 !important;
        color: #0b0f14;
      }
    }

    &__group {
      padding: 0;
    }
  }
}
.NotificationmobileView {
  display: none;

  @media (min-width: 575px) {
    display: block;
  }
}
.NotificationDesktopView {
  display: flex;
  background: #0b0f14;
  justify-content: center;

  @media (min-width: 575px) {
    display: none;
  }
}
#popup-alert {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#level-up {
  z-index: 9998;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  #level-up-content {
    width: 100vw;
  }
  .next-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 8vh;
    background-color: #e5c746;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 12px 24px;
    border-radius: 20px;
    margin: 0;
  }
}
#bubbles {
  z-index: 9998;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 50vh;
}
