.ReactModal__Content {
  max-width: 820px;
}
.invite-players {
  &__container {
    width: 819px;
  }
  &__header-container {
    display: flex;
    padding: 20px;
    background-color: #1d2326;
  }
  &__header-text {
    flex: 1;
    text-align: center;
    color: #fff;
    font-weight: bold;
  }
  &__footer-container {
    background-color: #1d2326;
    padding: 25px;
    flex-direction: row-reverse;
    display: flex;
  }
  &__menu-container {
    padding: 36px;
    border-bottom: 1px solid #1d2326;
  }
  &__player-profile-container {
    display: flex;
    align-items: center;
    padding: 19px 35px;
    background-color: #1d2326;
    margin-bottom: 10px;
  }
  &__player-profile {
    display: flex;
    flex: 1;
    align-items: center;
  }
  &__player-image {
    border-radius: 30px;
    margin-right: 16px;
    background-color: #2c363a;
  }
  &__player-alias {
    color: #fff;
    font-size: 18px;
  }
  &__content-container {
    height: 560px;
    display: flex;
  }
  &__search-area-container {
    flex: 1;
  }
  &__invites-area-container {
    width: 246px;
    background-color: #1d2326;
    display: flex;
    flex-direction: column;
  }
  &__invites-area-tile-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
  }
  &__invites-header-container {
    padding: 15px 18px;
    color: #fff;
    background-color: #283034;
    cursor: pointer;
    display: flex;
  }
  &__invites-header {
    flex: 1;
  }
  &__invites-header-right {
    display: flex;
  }
  &__invites-header-right-count {
    margin-right: 8px;
    font-size: 14px;
  }
  &__invites-header-arrow {
    transition: 0.5s;
  }
  &__invites-header-arrow-down {
    transform: rotate(90deg);
  }
  &__player-list-container {
    background-color: #1d2326;
    transition: 0.5s;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 128px;
  }
  &__player-list-container::-webkit-scrollbar {
    width: 12px;
    background-color: #74767a;
  }
  &__player-list-container::-webkit-scrollbar-button {
    background-color: white;
  }
  &__player-list-container::-webkit-scrollbar-track {
    background-color: #1b1f25;
  }
  &__player-list-container::-webkit-scrollbar-thumb {
    background-color: #74767a;
  }
  &__player-list-text {
    margin-bottom: 10px;
    color: #fff;
  }
  &__player-list-hidden {
    display: none;
  }
  &__player-list-element {
    display: flex;
    justify-content: space-between;
    padding: 13px 24px;
  }
  &__player-list-element-hovered {
    background-color: #2d363a66;
  }
  &__player-list-element-delete {
    display: none;
  }
  &__player-list-element-delete-hoverred {
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .tab-heading {
    font-size: 13px !important;
  }
  .invite-players {
    &__container {
      width: auto;
      top: 80px;
      position: fixed;
      background: #1d2326;
      left: 10px;
      right: 10px;
      z-index: 11;
      .modal__close {
        width: 32px;
        height: 32px;
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 50%;
        position: absolute;
        right: -8px;
        top: -16px;
        cursor: pointer;
      }
    }
    &__content-container {
      height: auto;
      display: initial;
    }
    &__menu-container {
      padding-top: 0;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .game-title-select {
        width: 100%;
        padding: 0 20px;
        .filter__placeholder {
          color: hsl(0, 0%, 50%);
        }
      }
    }
    &__player-list {
      height: 260px;
      overflow: auto;
    }
    &__footer-container {
      justify-content: center;
      align-items: center;
      div {
        padding: 12px 45px !important;
        border-radius: 6px;
        height: auto !important;
        line-height: 34px;
        margin: 0px 20px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        background-color: rgb(229, 199, 70);
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(14px);
    z-index: 1;
  }
  .add-game {
    &__menu-container {
      margin-bottom: 20px;
    }
    &__menu-text {
      padding: 12px 20px;
      font-size: 0.9em;
      background: #2d363a;
    }
    &__menu_line {
      margin: auto;
    }
  }
}
