<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://mygame-media.s3-ap-southeast-2.amazonaws.com/logos/Logo_v4_Favicon.png">
</head>
<body>
  @!section('notifications')
  @!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/mainApp.js"></script>
  <script src="/js/components/runtime.js"></script>
</body>
</html>
