<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173020437-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-173020437-1');
  </script>
  <!-- End Google Analytics -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MLH7QTB');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://mygame-media.s3-ap-southeast-2.amazonaws.com/logos/Logo_v4_Favicon.png">
</head>
<body>
  @!section('notifications')
  @!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/mainApp.js"></script>
  <script src="/js/components/runtime.js"></script>
</body>
</html>
