<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="propeller" content="8a868a67e68d95fc831320355c5220bc" />

  <!-- Start Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173020437-1"></script>
  <script>
    if (!window.location.href.includes('localhost')) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-173020437-1');
    }
  </script>
  <!-- End Google Analytics -->

  <!-- Start Google Tag Manager -->
  <script>
    if (!window.location.href.includes('localhost')) {
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MLH7QTB');
    }
  </script>

  <script type="text/javascript">
    if ('serviceWorker' in navigator) {
       console.log("Will the service worker register?");
       navigator.serviceWorker.register('service-worker.js')
         .then(function(reg){
           console.log("Yes, it did.");
        }).catch(function(err) {
           console.log("No it didn't. This happened:", err)
       });
    }
   </script>
  <!-- End Google Tag Manager -->

  <!-- Start Hot Jar
  <script>
    if (!window.location.href.includes('localhost')) {
      (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1918844,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    }
  </script> -->
  <!-- End Hot Jar --> 

  <meta charset="UTF-8" />
  <meta property="og:title" content="myG: Gamer's Platform"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://www.myG.gg"/>
  <meta property="og:image" content="https://myg.gg/logos/my_logo_black_bg.jpg"/>
  <meta property="og:site_name" content="myG: Gamer's Platform"/>
  <meta property="og:description" content="myG! A better tool for Gamers to connect, share & improve!"/>
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

  <link rel="manifest" href="/manifest.json">     
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> 
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://myG.gg/logos/Logo_v4_Favicon.png">
  <link rel="apple-touch-icon" sizes="128x128" href="https://myG.gg/platform_images/Dashboard/logo.svg">
  <link rel="icon" sizes="192x192" href="https://myG.gg/platform_images/Dashboard/logo.svg">
</head>
<body>
  @!section('notifications')
  @!section('content-area')

  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/mainApp.js"></script>
  <script src="/js/components/runtime.js"></script>
</body>
</html>
