<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173020437-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-173020437-1');
  </script>
  <meta charset="UTF-8" />
  <meta name="google-site-verification" content="Sy5crEpMIgNpaEvAzattRAb4-LrM7jN3m_zwD5XmVJU" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://mygame-media.s3-ap-southeast-2.amazonaws.com/logos/Logo_v4_Favicon.png">
</head>
<body>
  <div class="app-container
   @!section('current-class')
  "style="
  @!section('custom-style-app-container')
  ">
    @!section('content')

  </div>
  <script src="/js/components/vendor.js"></script>
</body>
</html>
