<!DOCTYPE html>
<html lang="en">
<head>
<meta content="width=device-width, initial-scale=1" name="viewport" />
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173020437-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-173020437-1');
  </script>
  <!-- End Google Analytics -->

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MLH7QTB');</script>
  <!-- End Google Tag Manager -->
  
  <!-- Hot Jar -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1918844,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <!-- End Hot Jar -->

  <meta charset="UTF-8" />
  <meta name="google-site-verification" content="Sy5crEpMIgNpaEvAzattRAb4-LrM7jN3m_zwD5XmVJU" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="https://mygame-media.s3.amazonaws.com/logos/Logo_v4_Favicon.png">
</head>
<body
 style="background: url('https://mygame-media.s3.amazonaws.com/platform_images/Login+Screen/login_bg%402x.png'); background-size: cover;"
 class="login-body"
 >
  <div class="login-container welcome-page">
    @!section('content')

  </div>
  <script src="/js/components/vendor.js"></script>
</body>
</html>
