<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="google-site-verification" content="Sy5crEpMIgNpaEvAzattRAb4-LrM7jN3m_zwD5XmVJU" />
  <title>
    @section('title')
    @endsection
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="https://mygame-media.s3-ap-southeast-2.amazonaws.com/logos/Logo_v4_Favicon.png">
</head>
<body
 style="background: url('https://mygame-media.s3-ap-southeast-2.amazonaws.com/platform_images/Login+Screen/login_bg%402x.png'); background-size: cover;"
 class="login-body"
 >
  <div class="login-container welcome-page">
    @!section('content')

  </div>
  <script src="/js/components/vendor.js"></script>
  <script src="/js/components/firstComp.js"></script>
</body>
</html>
