.communityName__container {
  .coverImage__container {
    height: 477px;
    width: 100%;
    position: relative;
    opacity: 1;
    margin-bottom: 1em;
    .addCoverImage__button {
      color: #fff;
      position: absolute;
      top: 2px;
      border: 1px solid #fff;
      padding: 4px;
      font-size: 10px;
      left: 5px;
      cursor: pointer;
      box-shadow: 1px 2px 5px #e5c745;
      display: none;
    }
    .featuredImageInput {
      display: none;
    }
    .analyticsBox__container {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin-left: 6em;
      margin-right: 6em;
      .social-main {
        background: none;
      }
      .social-box {
        img {
          width: 2.2em;
        }
      }
    }
    .featuredImage {
      width: 100%;
      height: 100%;
      cursor: pointer;
      .addCoverImage__button {
        display: block;
      }
    }
    .community__option {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      margin-left: 6em;
      margin-right: 6em;
      padding: 1.5em 0;
      align-items: center;
      .name {
        font: normal normal bold 36px/14px Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
        text-transform: uppercase;
      }
      .option {
        margin-left: auto;
        display: flex;
        .btnWarning {
          width: 121px;
          padding: 12px 12px;
          background: #e5c746 0% 0% no-repeat padding-box;
          opacity: 1;
          text-align: center;
          font: normal normal bold 12px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          margin: 0;
          margin-right: 5px;
          border-radius: 0.25rem;
          display: inline-block;
          border: 1px solid transparent;
          cursor: pointer;
          outline: none;
          img {
            width: 15px;
            margin-left: 15px;
          }
        }
        .btn__option {
          position: relative;
          .btn__option__dropdown {
            position: absolute;
            background: #1d2426;
            color: #fff;
            width: 121px;
            left: 0;
            top: 38px;
            border-radius: 4px;
            .dropdown__option {
              padding: 10px;
              cursor: pointer;
              &:hover {
                border: 1px solid #fff;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
  .community__description {
    text-align: left;
    font: normal normal normal 14px/20px Montserrat;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 1em;
    padding: 20px 50px;
    margin-left: 6em;
    margin-right: 6em;
  }
  .community__tags {
    margin-bottom: 1em;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    .label {
      font: normal normal bold 14px/14px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
    }
    margin-left: 6em;
    margin-right: 6em;
    .tags {
      font: normal normal normal 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      margin: 0 1em;
    }
    .dot {
      width: 5px;
      height: 5px;
      background: #2a2d2f 0% 0% no-repeat padding-box;
    }
  }
  .gamePost__tab {
    display: flex;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 35px;
    justify-content: space-around;
    color: #fff;
    font: normal normal medium 14px/14px Montserrat;
    letter-spacing: 0px;
    border-bottom: 1px solid #1d2326;
    span {
      width: 220px;
      text-align: center;
      padding-bottom: 10px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #e5c746;
      }
    }
  }
  .View__Member__modal {
    z-index: 3;
    background: none;
    .modal-wrap {
      border: 1px solid #273137;
      border-radius: 4px;
      opacity: 1;
      z-index: 2;
      position: relative;
      background: #171a1c 0% 0% no-repeat padding-box;
      height: auto;
      .modal__header {
        background: #1d2326 0% 0% no-repeat padding-box;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .tabs___header {
          width: 375px;
          height: 35px;
          font: normal normal bold 16px/14px Montserrat;
          letter-spacing: 0px;
          color: #ffffff;
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid #2d363a;

          .setting__tab {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 12px;
            cursor: pointer;
            &.active {
              border-bottom: 2px solid #e5c746;
            }
          }
        }
        .modal__close {
          width: 32px;
          height: 32px;
          background: #1d2326 0% 0% no-repeat padding-box;
          border-radius: 50%;
          position: absolute;
          right: -15px;
          top: -15px;
          cursor: pointer;
        }
      }
      .manage__searchBar {
        display: flex;
        justify-content: center;
        padding: 1em 0px;
        background: #1d2326;
        input {
          width: 50%;
          background: #171a1c 0% 0% no-repeat padding-box;
          border: none;
          padding: 12px 12px;
          border-radius: 25px;
          outline: none;
          margin: 0;
          &:active,
          &:focus {
            padding: 12px 12px;
          }
          font: italic normal normal 12px/14px Montserrat;
          letter-spacing: -0.65px;
          color: #93a4a5;
        }
      }
      .modal__body {
        background: #171a1c 0% 0% no-repeat padding-box;
        height: 500px;
        overflow: scroll;
        width: 100%;
        padding: 2em 5em;
        display: inline-flex;
        flex-wrap: wrap;
        .GroupMember_list {
          display: inline-flex;
          flex-wrap: wrap;
          .GroupMember__card {
            width: 174px;
            height: 230px;
            display: block;
            text-align: center;
            background: #1d2326 0% 0% no-repeat padding-box;
            border: 1px solid #273137;
            border-radius: 4px;
            margin-right: 2em;
            margin-bottom: 2em;
            position: relative;
            .GroupMember__image {
              height: 5em;
              width: 100%;
              margin-bottom: 3.5em;
              position: relative;
              img {
                height: 100%;
                width: 100%;
              }
              .GroupMember__profile {
                width: 79px;
                height: 79px;
                background: #ff00ff 0% 0% no-repeat padding-box;
                border-radius: 50%;
                position: absolute;
                bottom: -40px;
                left: 25%;
                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                }
                .GroupMember_role {
                  position: absolute;
                  cursor: pointer;
                  bottom: -10px;
                  left: 28px;
                }
              }
            }
            .GroupMember__alias {
              text-align: center;
              font: normal normal bold 18px/22px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              margin-bottom: 0.6em;
              word-break: break-all;
            }
            .GroupMember__level {
              font: normal normal normal 14px/18px Montserrat;
              letter-spacing: 0px;
              color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: center;
              .level__value {
                margin-left: 5px;
                font: normal normal normal 28px/18px Montserrat;
              }
              margin-bottom: 3.5em;
            }
            .GroupMember__action {
              padding: 0px 15px;
              display: flex;
              justify-content: space-around;
              position: absolute;
              bottom: -12px;
              button {
                width: 62px;
                height: 25px;
                background: #e5c746 0% 0% no-repeat padding-box;
                font: normal normal bold 12px/14px Montserrat;
                letter-spacing: 0px;
                color: #000000;
                border: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                border-radius: 2px;
                cursor: pointer;
              }
            }
          }
        }
      }
      .modal__footer {
        height: 90px;
        background: #1d2326 0% 0% no-repeat padding-box;
        border-radius: 0px 0px 10px 10px;
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 93px;
          height: 39px;
          background: #e5c746 0% 0% no-repeat padding-box;
          border-radius: 8px;
          opacity: 1;
          font: Bold 16px/14px Montserrat;
          letter-spacing: 0px;
          color: #000000;
          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(14px);
      z-index: 1;
    }
  }
  .gamePostExtraOption {
    position: absolute;
    right: 10px;
    top: -10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    .post-dropdown {
      position: absolute;
      z-index: 2;
      display: none;
      &.active {
        display: block;
      }
      nav {
        background: #181a1c;
        .option {
          padding: 4px 0px;
          cursor: pointer;
          font-size: 10px;
        }
      }
    }
  }
  .setting__container {
    width: 100%;
    .communityName__section {
      display: flex;
      justify-content: center;
      align-items: center;
      .community___button {
        width: 62px;
        height: 30px;
        background: #e5c746 0% 0% no-repeat padding-box;
        font: normal normal bold 12px/14px Montserrat;
        letter-spacing: 0px;
        color: #000000;
        border: none;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
      }
      .community___input {
        input {
          width: 100%;
          background: #1d2326;
          border: none;
          padding: 12px 12px;
          border-radius: 25px;
          outline: none;
          margin: 0;
          &:active,
          &:focus {
            padding: 12px 12px;
          }
          font: italic normal normal 12px/14px Montserrat;
          letter-spacing: -0.65px;
          color: #93a4a5;
        }
      }
      .community___label {
        text-align: left;
        font: normal normal normal 14px/22px Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
    .group__privacy {
      margin-top: 20px;
      .options,
      .label {
        text-align: left;
        font: normal normal normal 14px/22px Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
      }
      .options {
        display: flex;
        justify-content: flex-end;
      }
      .container {
        display: block;
        position: relative;
        padding-left: 22px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          border: 2px solid yellow;
          border-radius: 4px;
        }
        /* Hide the browser's default checkbox */
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Style the checkmark/indicator */
        .checkmark:after {
          left: 3px;
          top: -1px;
          width: 4px;
          height: 10px;
          border: solid yellow;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: '';
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        input:checked ~ .checkmark:after {
          display: block;
        }
      }
    }
  }
  .Sponsors__container {
    margin-bottom: 2.5em;
    padding: 10px 15px;
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    flex-wrap: wrap;
    background: #171a1c 0% 0% no-repeat padding-box;
    border: 1px solid #1d2326;
    border-radius: 4px;
    overflow: scroll;
    .Sponsors {
      display: flex;
      position: relative;
      margin-right: 1.5em;
      width: 124px;
      height: 70px;
      &.sponsors__label {
        display: flex;
        justify-content: center;
        align-items: center;
        font: normal normal normal 20px/14px Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        span {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 2px solid #1d2326;
        }
      }
      .Sponsors__image {
        width: 100%;
        height: 100%;
      }
      .Sponsors__edit {
        position: absolute;
        background: #e7c947;
        cursor: pointer;
        left: 45px;
        top: -10px;
        padding: 6px;
        font-size: 11px;
        border-radius: 4px;
        display: none;
      }
      .Sponsors__delete {
        position: absolute;
        background: #e7c947;
        cursor: pointer;
        left: 40px;
        bottom: -10px;
        padding: 6px;
        font-size: 11px;
        border-radius: 4px;
        display: none;
      }
      &:hover {
        .Sponsors__delete,
        .Sponsors__edit {
          display: block;
        }
      }
    }
  }
  .Sponsor__edit {
    padding: 2em 2em !important;
    .Sponsor__media__input {
      width: 100%;
      height: 350px;
      margin-bottom: 1em;
      position: relative;
      input {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .image__uploading {
        position: absolute;
        color: #fff;
      }
    }
    .Sponsor__link__input {
      width: 100%;
      margin-bottom: 1em;
      label {
        font: normal normal normal 16px/12px Montserrat;
        letter-spacing: 0px;
        color: #ffffff;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        background: #1d2326;
        border: none;
        padding: 12px 12px;
        border-radius: 25px;
        outline: none;
        margin: 0;
        &:active,
        &:focus {
          padding: 12px 12px;
        }
        font: italic normal normal 12px/14px Montserrat;
        letter-spacing: -0.65px;
        color: #93a4a5;
      }
    }
  }
}
