.left-sidebar-collapsed {
  width: 80px;
}

.my-left-menu {
  &__container {
    width: 233px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d2326;
    overflow-x: hidden;
    transition: 0.5s;
    color: #fff;
  }

  &__menu-collapsed {
    width: 80px;
  }

  &__item-box {
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
    border-top: 1px solid #384952;
    border-bottom: 1px solid #384952;
  }

  &__internal-item-box {
    background-color: #171a1c;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__user-details-box {
    background-color: #171a1c;
  }

  &__user-details-box-collapsed {
    padding: 20px;
    border-bottom: 1px solid #384952;
  }
  &__sidebar-item-text {
    margin-left: 41px;
    position: fixed;
  }

  &__sub-item-container {
    background-color: #171a1c;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
  }

  &__sub-item-text {
    margin-bottom: 15px;
    cursor: pointer;
    position: fixed;
  }

  &__logo-section-container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
  }

  &__toggle-button {
    position: absolute;
    right: 6px;
  }

  &__notification-icon-collapsed {
    margin-bottom: 24px;
  }

  &__notification_container {
    display: flex;
  }

  &__notification-container-collapsed {
    flex-direction: column;
  }

  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__user-alias {
    display: inline;
  }

  &__user-dp {
    height: 40px;
    width: 40px;
    background-color: #ff00ff;
    border-radius: 40px;
    margin-right: 10px;
  }

  &__settings-icon {
    position: absolute;
    right: 10px;
    top: 22px;
  }

  &__clickable {
    cursor: pointer;
  }

  &__line {
    width: 1px;
    margin: 0 6px;
    background-color: #384952;
  }

  &__notification-area {
    border: 1px solid #384952;
    position: relative;
    top: -30px;
    background-color: #1d2326;
    left: 15px;
    border-radius: 6px;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }

  &__logout-area {
    text-align: center;
    padding-top: 75px;
  }
}
