.my-left-menu {
  &__container {
    height: 100%;
    width: 233px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1d2326;
    overflow-x: hidden;
    transition: 0.5s;
    color: #fff;
  }
  &__menu-collapsed {
    width: 77px;
  }
  &__item-box {
    padding-left: 17px;
    height: 79px;
    border-bottom: 0.1px #384952;
    border-style: solid;
    line-height: 79px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__internal-item-box {
    background-color: #171a1c;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__user-details-box {
    background-color: #171a1c;
    padding: 40px;
    border-top: 0.1px #384952;
    border-bottom: 0.1px #384952;
    border-style: solid;
  }
  &__user-details-box-collapsed {
    padding: 19px;
  }
  &__sidebar-item-text {
    margin-left: 41px;
    position: fixed;
  }
  &__sidebar-item-icon {
    margin-right: 16px;
  }
  &__logout {
    position: absolute;
    border-top: 0.1px #384952;
    border-style: solid;
    bottom: 0px;
    width: 100%;
  }
  &__sub-item-container {
    background-color: #171a1c;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    transition: 0.5s;
  }
  &__sub-item-text {
    margin-bottom: 15px;
    cursor: pointer;
  }
  &__logo-section-container {
    height: 134px;
  }
  &__toggle-button {
    position: absolute;
    right: 6px;
  }
  &__notification-icon {
    display: flex;
  }
  &__notification-icon-collapsed {
    margin-bottom: 24px;
  }
  &__notification_container {
    display: flex;
  }
  &__notification-container-collapsed {
    flex-direction: column;
  }
  &__user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &__user-alias {
    display: inline;
  }
  &__user-dp {
    height: 40px;
    width: 40px;
    background-color: #ff00ff;
    border-radius: 40px;
    margin-right: 10px;
  }
  &__logo-collapsed {
    margin-top: 24px;
    margin-left: 15px;
  }
  &__settings-icon {
    position: absolute;
    right: 10px;
    top: 22px;
  }
  &__toggle-icon {
    border-top: 0.1px #384952;
    border-style: solid;
  }
  &__clickable {
    cursor: pointer;
  }
  &__line {
    width: 1px;
    margin: 0 6px;
    background-color: #384952;
  }
  &__notification-area {
    border: 1px #384952;
    border-style: solid;
    position: relative;
    top: 11px;
    background-color: #1d2326;
    left: -8px;
    border-radius: 8px;
    height: fit-content;
    font-size: 13px;
    padding: 5px;
    height: min-content;
  }
  &__logout-area {
    height: 79px;
    display: flex;
    align-items: center;
  }
}
