#main-sidebar {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d2326;
  overflow-x: hidden;
  transition: 0.5s;
  color: #fff;
}

.sidebar-container {
  width: 245px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  overflow-y: scroll;
}

.sidebar-container-collapsed {
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  overflow-y: scroll;
}

.sidebar-sub-items img {
  width: 23px;
  height: 23px;
}

.side-menu-anchor:hover {
  text-decoration: none;
}

.logo-section-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
  background: #1d2326;
}

.sidebar-container .logo-section-container {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidebar-menu-toggle {
  text-align: right;
  padding-right: 10px;
}

.sidebar-menu-toggle img {
  cursor: pointer;
}

.user-detail-box-expanded {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #384952;
  border-bottom: 1px solid #384952;
  a:hover {
    color: #e5c746;
    text-decoration: none;
  }
  a {
    color: #fff;
  }
}

.lm-user-info-main {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lm-user-info-main img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.lm-username {
  padding-left: 10px;
}

.notification-expanded {
  display: flex;
  justify-content: space-between;
}

.notification-collapsed {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.notification-box {
  border: 1px solid #384952;
  position: relative;
  top: -30px;
  background-color: #1d2326;
  left: 15px;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.notification-alert {
  background-color: #FA3E3F !important;
  color: white !important;
  font-weight: bold !important;
  border: 0px solid #384952 !important;
}

.notification-expanded .notification-box {
  border: 1px solid #384952;
  position: relative;
  top: -10px;
  background-color: #1d2326;
  left: 15px;
  border-radius: 6px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.toggle-menu {
  text-align: center;
  padding: 20px 0px;
  cursor: pointer;
  border-top: 1px solid #384952;
  border-bottom: 1px solid #384952;
}

.user-detail-box-collapsed {
  border-bottom: 1px solid #384952;
}

.sidebar-sub-items {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #384952;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.sidebar-sub-items p,
.logout-text p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-left: 10px;
}

.logout-btn-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.logout-text {
  display: flex;
  flex-wrap: wrap;
}

.sidebar-sub-menu {
  background: #171a1c;
  padding: 20px;
  font-size: 14px;
}

.sidebar-sub-menu a {
  text-decoration: none;
}

.sidebar-sub-menu .menu-item {
  padding-bottom: 10px;
  color: #fff;
}

.sidebar-sub-menu .menu-item:hover {
  color: #e5c746;
}

.notification-expanded a {
  padding-right: 35px;
}
